<template>
  <div class="c-notification">
    <div class="c-notification__wrapper">
      <div class="c-notification__wrapper-info">
        <img
          class="c-notification__wrapper-info-picture"
          src="img/ill/notifications/notification-classes.svg"
          alt="notification"
        />
        <template v-if="is_curator">
          <p>
            {{ text }}
          </p>
        </template>
        <template v-else>
          <p>
            {{ text }}
            <router-link
                    :to="{ name: 'TeacherPage', params: { id: id } }"
                    class="c-notification__teacher"
            >{{ user_name }}</router-link>
          </p>
        </template>
      </div>
      <div class="c-notification__wrapper-link">
        <a class="c-notification__wrapper-link-item" :to="link"
          >Перейти к занятию
        </a>
        <img src="img/icons/arrow-right.svg" alt="arrow-right" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "Notification",
  props: {
    is_curator: Boolean,
    id: {
      type: [String,Number]
    },
    user_name: {
      type: String
    },
    text: {
     type: String
    },
    link: {
      type: String,
    }
  },
};
</script>

<style lang="scss">
.c-notification {
  width: 100%;
  height: rem(86);
  @extend %df;
  @extend %aic;
  @extend %jcsb;
  padding: 0 rem(39) 0 rem(22);
  // padding: 16px 15px;
  border: 1px solid $soft_gray;
  border-radius: 2px;
  margin-bottom: rem(2);
  p {
    @extend %text-small;
    color: $black;
  }
  &:hover {
    .c-notification {
      &__wrapper-link {
        opacity: 1;
        @extend %evt-all;
      }
    }
  }
  &__wrapper {
    width: 100%;
    @extend %df;
    @extend %aic;
    @extend %jcsb;
    &-info {
      @extend %df;
      @extend %aic;
      &-picture {
        margin-right: rem(23);
      }
    }
    &-link {
      @extend %df;
      @extend %aic;
      @extend %evt-none;
      opacity: 0;
      transition: all 0.5s ease;
      &-item {
        @extend %text-small;
        margin-right: rem(12);
        color: $gray;
      }
    }
  }

  &__teacher {
    @extend %text-middle;
    @extend %dib;
    color: $red;
    border-bottom: 1px solid $red;
    margin: 0 3px;
  }
}
@include bp(766px) {
  .c-notification {
    padding-right: 14px;
    padding-left: 12px;
    min-height: 45px;
    height: auto;
    img {
      margin-right: 10px;
      width: 28px;
      height: 20px;
    }
    p {
      font-size: rem(10);
      span {
        font-size: rem(10);
        border: none;
        text-decoration: underline;
      }
    }
    &__wrapper-link {
      display: none;
    }
  }
}
</style>
