<template>
  <div class="c-home-offer">
    <span class="c-home-offer__discount"> Скидка {{ offer.discount }}% </span>
    <div class="c-home-offer__content">
      <figure class="c-home-offer__image">
        <img :src="offer.img" :alt="offer.name" />
      </figure>
      <h3 class="c-home-offer__title">
        {{ offer.name }}
      </h3>
      <p class="c-home-offer__lessons">{{ offer.lessons }} занятий</p>
    </div>
    <router-link
      :to="{ name: 'Checkout', params: { id: offer.id } }"
      class="c-home-offer__btn"
    >
      <span>Выбрать пакет</span>
    </router-link>
  </div>
</template>

<script>
export default {
  props: {
    offer: {
      type: Object
    }
  }
};
</script>

<style lang="scss">
.c-home-offer {
  position: relative;
  width: rem(277);
  height: rem(280);
  background-color: $dark_white;
  overflow: hidden;
  &:hover {
    .c-home-offer {
      &__btn {
        bottom: rem(20);
      }
    }
    // margin-top: rem(50);
  }
  &__content {
    padding: 36px 0 0 30px;
  }
  &__discount {
    position: absolute;
    @extend %df;
    @extend %aic;
    @extend %jcc;
    @extend %text-small;
    color: $green;
    top: 0;
    right: 0;
    border: 1px solid $green;
    padding: 0 rem(7);
    height: 29px;
    border-radius: 0px 2px 0px 0px;
  }
  &__title {
    @extend %h3-title-bold;
    color: $black;
    margin-top: rem(30);
    margin-bottom: rem(24);
    max-width: rem(190);
  }
  &__lessons {
    @extend %text-middle;
    color: $gray;
  }
  &__btn {
    position: absolute;
    bottom: rem(-50);
    @extend %simple-btn-green;
    width: rem(212);
    height: rem(35);
    margin-top: rem(120);
    left: 50%;
    margin-left: -106px;
  }
}
@include bp(1100px) {
  .c-home-offer {
    width: calc(100% / 3);
    margin-right: 25px;
    height: 255px;
    &:last-child {
      margin-right: 0;
    }
  }
}
@include bp(766px) {
  .c-home-offer {
    width: 100%;
    margin-right: 0;
    margin-bottom: 20px;
    &__discount {
      font-size: rem(10);
      width: 77px;
      height: 23px;
      padding: 0;
    }
    &__title {
    }
  }
}
</style>
