<template>
  <BaseModal>
    <div class="c-login-modal">
      <div class="c-login-modal__login">
        <button class="c-login-modal__login-btn" @click="register">
          Регистрация
        </button>
      </div>
      <form @submit.prevent="onSubmit" class="c-login-modal__content">
        <h2 class="c-login-modal__title">Вход</h2>
        <BaseInputText
          class="c-login-modal__field"
          icon="email"
          placeholder="Ваша почта"
          v-model="email"
          :error="error_email"
          :error_message="error_message"
        />
        <BaseInputPassword
          class="c-login-modal__field"
          placeholder="Ваш пароль"
          v-model="password"
          :error="error_password"
        />
        <div class="c-login-modal__error">
          {{ error_login_message }}
        </div>
        <button class="c-login-modal__register-btn">
          Войти
        </button>

        <div class="c-login-modal__social-login">
          <p class="c-login-modal__social-tag">Войти через:</p>
          <div class="c-login-modal__socials">
            <button
              class="c-login-modal__social c-login-modal__social--google"
            ></button>
            <button
              class="c-login-modal__social c-login-modal__social--facebook"
            ></button>
            <button
              class="c-login-modal__social c-login-modal__social--vk"
            ></button>
          </div>
          <router-link
            :to="{ name: 'PasswordRecovery' }"
            class="c-login-modal__forgot-password"
          >
            Забыли пароль?
          </router-link>
        </div>
      </form>
    </div>
  </BaseModal>
</template>

<script>
export default {
  name: "LoginModal",
  data() {
    return {
      email: "",
      password: "",
      error_email: false,
      error_password: false,
      error_message: null,
      error_login_message: null
    };
  },
  methods: {
    register() {
      this.$store.dispatch("show_modal", "register");
    },
    // checkEmail() {
    //   this.SHOW_MODAL("check");
    // },
    onSubmit() {
      const sendingData = {};
      // console.log(!this.email.match(/^[0-9a-z-.]+@[0-9a-z-]{2,}\.[a-z]{2,}$/i))
      if (
        this.email.length === 0 ||
        !this.email.match(/^[0-9a-z-.]+@[0-9a-z-]{2,}\.[a-z]{2,}$/i)
      ) {
        this.error_email = true;
        this.error_message = "Некорректный email";
        setTimeout(() => {
          this.error_email = false;
          this.error_message = null;
        }, 2000);
        return;
      } else {
        sendingData.email = this.email;
      }
      if (this.password.length === 0) {
        this.error_password = true;
        setTimeout(() => (this.error_password = false), 2000);
        return;
      } else {
        sendingData.password = this.password;
      }

      this.$store
        .dispatch("auth/login", sendingData)
        .then(() => {
          this.$store.dispatch("hide_show_overlay", false);
          // console.log(res)
        })
        .catch(err => {
          this.error_email = true;
          this.error_password = true;
          this.error_login_message =
            "Неправильный логин или пароль, попробуйте еще раз.";
          setTimeout(() => {
            this.error_email = false;
            this.error_password = false;
            this.error_login_message = null;
          }, 3000);
          console.log(err.response);
        });
    }
  }
};
</script>

<style lang="scss">
.c-login-modal {
  @extend %h100;
  padding: rem(20) rem(116) 0 rem(114);
  &__error {
    @extend %text-very-small;
    color: $red;
  }
  &__login {
    @extend %df;
    @extend %jcfe;
    &-btn {
      @extend %simple-btn-white;
      width: rem(133);
      height: rem(45);
    }
  }

  &__field {
    width: 100%;
    margin-bottom: rem(18);
  }

  &__content {
    @extend %df;
    @extend %fdc;
    @extend %jcc;
    @extend %h100;
    width: rem(312);
  }

  &__title {
    font-size: rem(30);
    margin-bottom: 1rem;
    font-weight: 400;
    @extend %ls-3;
    line-height: 112.9%;
  }

  &__subtitle {
    font-size: rem(14);
    line-height: 140%;
    width: rem(309);
    margin-bottom: rem(30);
  }

  &__register-btn {
    @extend %btn-border-green;
    @extend %btn-all-green;
    width: rem(311);
    margin-top: rem(34);
  }

  &__social {
    @extend %empt-btn;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-repeat: no-repeat;

    &-login {
      text-align: center;
      width: rem(311);
    }

    &:not(:last-child) {
      margin-right: 11.53px;
    }

    &-tag {
      margin-top: rem(40);
      margin-bottom: rem(10);
      @extend %ls-5;
      @extend %regular;
    }

    &--google {
      background-image: url($img_dir+"/icons/google-auth.svg");
    }

    &--facebook {
      background-image: url($img_dir+"/icons/fb-auth.svg");
    }

    &--vk {
      background-image: url($img_dir+"/icons/vk-auth.svg");
    }
  }
  &__socials {
    @extend %df;
    @extend %aic;
    @extend %jcc;
    margin-bottom: rem(55);
  }
  &__forgot-password {
    @extend %text-big;
    color: $red;
  }
}
@include bp(1100px) {
  .c-login-modal {
    padding: 20px 0 0 0;
    max-width: 750px;
    margin: 0 auto;
    &__content {
      margin: 0 auto;
      height: auto;
      padding-top: 50px;
    }
  }
}
</style>
