<template>
  <BaseModal class="c-my-lessons__modal">
    <div class="c-my-lessons">
      <div class="c-my-lessons__container">
        <div class="c-my-lessons__header">
          <div class="c-my-lessons__header-holder-info">
            <h2 class="c-my-lessons__header-holder-info-title">Ваши занятия</h2>
          </div>
          <div class="c-my-lessons__header-holder-option" @click="hide_overlay">
            <router-link
              :to="{ name: 'Teachers' }"
              class="c-my-lessons__header-holder-option-btn"
            >
              Добавить занятие
            </router-link>
          </div>
        </div>
        <div class="c-my-lessons__lessons">
          <Teacher
            v-for="lesson in get_filtered_data"
            :id="lesson.id"
            :is_homework_done="lesson.is_homework_done"
            :curator="lesson.curator"
            :time-start="lesson.time.from"
            :time-end="lesson.time.to"
            :lesson_link="lesson.lesson_link"
            :homework_link="lesson.homework_link"
            :key="lesson.curator"
          />
        </div>
      </div>
    </div>
  </BaseModal>
</template>

<script>
import Teacher from "../MyLessons/Teacher";
import { filter_lessons } from "@/mixins/mixins.js";
export default {
  name: "MyLessons",
  components: { Teacher },
  mixins: [filter_lessons],
  methods: {
    hide_overlay() {
      this.$store.dispatch("close_modal_and_clear_data");
    }
  }
};
</script>

<style lang="scss">
.c-my-lessons {
  @extend %pagept;
  padding-top: 44px;
  padding-left: 60px;
  &__modal {
    width: 55vw !important;
  }
  &__container {
    max-width: rem(604);
    // @extend %m0a;
  }

  &__lessons {
    overflow: scroll;
    height: 100vh;
    margin-top: 30px;
    width: 100%;
    padding-bottom: 90px;
    @extend %reset-scroll-bar;
  }

  &__header {
    @extend %df;
    @extend %jcsb;

    &-holder {
      &-info {
        @extend %df;
        @extend %jcfs;
        @extend %aic;

        &-close {
          margin-right: 14px;
        }

        &-title {
          @extend %h3-title-bold;
          color: $gray;
        }
      }

      &-option {
        &-btn {
          @extend %btn-border-green;
          padding: 10px 20px;
        }
      }
    }
  }
}
@include bp(1100px) {
  .c-my-lessons {
    &__modal {
      width: 100% !important;
    }
    &__container {
      max-width: 600px;
      margin: 0 auto;
    }
    &__header-holder-info-close {
      display: none;
    }
  }
}
@include bp(766px) {
  .c-my-lessons {
    padding-top: 36px;
    padding-left: 0;
    &__header-holder-info-title {
      padding-left: 10px;
    }
    &__header-holder-option {
      display: none;
    }
    &__container {
      max-width: 320px;
      margin: 0 auto;
    }
  }
}
</style>
