<template>
  <BaseModal class="m-new-lesson-teacher__modal">
    <div class="m-new-lesson-teacher">
      <div class="m-new-lesson-teacher__wrap m-new-lesson-teacher__wrap_top">
        <div class="m-new-lesson-teacher__title">
          Занятие с учеником
        </div>
      </div>
      <div class="m-new-lesson-teacher__wrap m-new-lesson-teacher__wrap_user">
        <StudentModalCard
          :photo="student_photo"
          :name="student_first_name"
          :surname="student_last_name"
          :lessonData="lesson_date"
          :lessonTimeFrom="lesson_time_from"
          :lessonTimeTo="lesson_time_to"
        />
      </div>
      <div class="m-new-lesson-teacher__wrap m-new-lesson-teacher__wrap_link-lesson">
        <div class="m-new-lesson-teacher__inp-wrapper">
          <h3 class="m-new-lesson-teacher__wrapper-title">
            Ссылка на занятие
          </h3>
          <div class="m-new-lesson-teacher__inp-flex">
            <BaseInputText
              placeholder="Добавьте ссылку на занятие"
              v-model="lessonLink"
              :isLinkInput="true"
              :error="error_lesson"
              class="m-new-lesson-teacher__input"/>
            <button @click="confirm_lesson" class="m-new-lesson-teacher__btn" :class="{ 'confirmed': link_to_lesson }">
              <span>{{ link_to_lesson ? 'Перейти к занятию' : 'Подтвердить занятие' }}</span>
            </button>
          </div>
        </div>
        <div class="m-new-lesson-teacher__inp-wrapper">
          <h3 class="m-new-lesson-teacher__wrapper-title">
            Ссылка на домашнее задание
          </h3>
          <div class="m-new-lesson-teacher__inp-flex">
            <BaseInputText
              placeholder="Добавьте ссылку на домашнее задание"
              v-model="homeworkLink"
              :isLinkInput="true"
              class="m-new-lesson-teacher__input"
              :error="error_homework"
            />
            <button @click="send_homework_link" class="m-new-lesson-teacher__btn" :class="{ 'confirmed': link_to_homework }">
              <span>{{ link_to_homework ? 'Проверить ДЗ' : 'Отправить ДЗ' }}</span>
            </button>
          </div>
        </div>
        <div class="m-new-lesson-teacher__wrap m-new-lesson-teacher__wrap_lesson-type">
          <h4 class="m-new-lesson-teacher__type-label">
            Тип занятия:
          </h4>
          <h3 class="m-new-lesson-teacher__type-title">
            {{ lesson_type }}
          </h3>
          <h4 class="m-new-lesson-teacher__commet-title">
            Комментарий ученика:
          </h4>
          <p class="m-new-lesson-teacher__commet-text">
            {{ lesson_comment }}
          </p>
        </div>
      </div>
    </div>
  </BaseModal>
</template>

<script>
import { mapMutations } from "vuex";
import StudentModalCard from "@/components/StudentModalCard.vue";
export default {
  components: {
    StudentModalCard
  },
  props: {
    lesson_id: {
      type: Number
    },
    student_id: {
      type: Number
    },
    student_photo: {
      type: String
    },
    student_first_name: {
      type: String
    },
    student_last_name: {
      type: String
    },
    lesson_date: {
      type: String
    },
    lesson_time_from: {
      type: String
    },
    lesson_time_to: {
      type: String
    },
    lesson_type: {
      type: String
    },
    lesson_comment: {
      type: String
    },
    link_to_lesson: {
      type: String,
    },
    link_to_homework: {
      type: String,
    },
  },
  data() {
    return {
      lessonLink: this.link_to_lesson,
      homeworkLink: this.link_to_homework,
      error_lesson: false,
      error_homework: false,
    };
  },
  methods: {
    ...mapMutations(["HIDE_MODAL"]),
    hideModal() {
      this.HIDE_MODAL();
    },
    confirm_lesson() {
      if(!this.lessonLink || this.lessonLink.length === 0) {
        this.error_lesson = true
        setTimeout(() => this.error_lesson = false, 3000)
        return
      }
      if(!this.link_to_lesson) {
        this.$store.dispatch('user/curator_confirm_lesson',
          { id: this.lesson_id, data: { id: this.lesson_id, link_to_lesson: this.lessonLink } })
      } else {
        window.open(this.lessonLink)
      }
    },
    send_homework_link() {
      if(!this.homeworkLink || this.homeworkLink.length === 0) {
        this.error_homework = true
        setTimeout(() => this.error_homework = false, 3000)
        return
      }
      if(!this.link_to_homework) {
        this.$store.dispatch('user/send_homework_link',
          { id: this.lesson_id, data: { id: this.lesson_id, homework: this.lessonLink } })
      } else {
        window.open(this.homeworkLink)
      }
    }
  }
};
</script>

<style lang="scss">
.m-new-lesson-teacher__modal {
  width: rem(859) !important;
  overflow-y: scroll;
}
.m-new-lesson-teacher {
  max-width: rem(680);
  padding: rem(44) 0 rem(50) rem(61);

  @extend %reset-scroll-bar;
  // .m-new-lesson-teacher__wrap
  &__wrap {
    // .m-new-lesson-teacher__wrap_top

    &_top {
      @extend %df;
      @extend %aic;
      margin-bottom: rem(32);
    }

    // .m-new-lesson-teacher__wrap_user

    &_user {
      margin-bottom: rem(40);
    }

    // .m-new-lesson-teacher__wrap_link-lesson

    &_link-lesson {
    }

    // .m-new-lesson-teacher__wrap_lesson-type

    &_lesson-type {
    }
  }

  // .m-new-lesson-teacher__close

  &__close {
    @extend %close-modal-btn;
    margin-right: rem(18);
  }

  // .m-new-lesson-teacher__title

  &__title {
    @extend %h3-title-bold;
    color: $gray;
  }

  // .m-new-lesson-teacher__inp-wrapper

  &__inp-wrapper {
    margin-bottom: rem(40);
  }

  // .m-new-lesson-teacher__wrapper-title

  &__wrapper-title {
    @extend %text-middle;
    color: $gray;
  }

  // .m-new-lesson-teacher__inp-flex

  &__inp-flex {
    @extend %df;
    @extend %aic;
  }

  // .m-new-lesson-teacher__input

  &__input {
    width: rem(371);
  }

  // .m-new-lesson-teacher__homework-link

  &__homework-link {
    width: 100%;
  }

  // .m-new-lesson-teacher__btn

  &__btn {
    @extend %simple-btn-green;
    width: rem(277);
    margin-left: rem(30);
    &.confirmed  {
      @extend %simple-btn-green-border;
      width: rem(277);
    }
  }

  // .m-new-lesson-teacher__type-label

  &__type-label {
    @extend %text-middle;
    color: $gray;
  }

  // .m-new-lesson-teacher__type-title

  &__type-title {
    @extend %h3-title-bold;
    color: $black;
    margin-bottom: rem(40);
  }

  // .m-new-lesson-teacher__commet-title

  &__commet-title {
    @extend %text-big;
    color: $black;
    margin-bottom: rem(16);
  }

  // .m-new-lesson-teacher__commet-text

  &__commet-text {
    @extend %text-small;
    color: $gray;
  }
}
@include bp(1360px) {
}
@include bp(1100px) {
  .m-new-lesson-teacher__modal {
    width: 100% !important;
  }
  .m-new-lesson-teacher {
    &__close {
      display: none;
    }
  }
}
@include bp(766px) {
  .m-new-lesson-teacher__modal {
    overflow-x: scroll;
  }
  .m-new-lesson-teacher {
    max-width: 320px;
    margin: 0 auto;
    padding: 40px 0 0 0;
    &__inp-flex {
      flex-direction: column;
    }
    &__input {
      width: 100%;
    }
    &__btn {
      width: 100%;
      height: 35px;
      font-size: rem(12);
      margin: 15px 0 0 0;
    }
  }
}
</style>
