<template>
  <BaseModal>
    <div class="c-register-modal">
      <div class="c-register-modal__login">
        <button class="c-register-modal__login-btn" @click="login">
          Войти
        </button>
      </div>
      <form @submit.prevent="onSubmit" class="c-register-modal__content">
        <h2 class="c-register-modal__title">Быстрая регистрация</h2>
        <p class="c-register-modal__subtitle">
          Для доступа к функциям личного кабинета необходимо зарегистрироваться.
        </p>
        <BaseInputText
          class="c-register-modal__field"
          icon="user"
          placeholder="Ваше имя"
          v-model="first_name"
          :error="error_name"
        />
        <BaseInputText
          class="c-register-modal__field"
          icon="email"
          placeholder="Ваша почта"
          v-model="email"
          :error="error_email"
          :error_message="error_email_message"
        />
        <BaseInputPassword
          class="c-register-modal__field"
          placeholder="Придумайте пароль"
          :showProgress="true"
          v-model="password"
          :error="error_password"
          :error_message="error_password_message"
        />
        <button class="c-register-modal__register-btn">
          <span>Зарегистрироваться</span>
        </button>
        <div class="c-register-modal__social-register">
          <p class="c-register-modal__social-tag">Регистрация через:</p>
          <div class="c-register-modal__socials">
            <button
              class="c-register-modal__social c-register-modal__social--google"
            ></button>
            <button
              class="c-register-modal__social c-register-modal__social--facebook"
            ></button>
            <button
              class="c-register-modal__social c-register-modal__social--vk"
            ></button>
          </div>
        </div>
      </form>
    </div>
  </BaseModal>
</template>

<script>
import { mapMutations } from "vuex";

export default {
  name: "RegisterModal",
  data() {
    return {
      first_name: "",
      email: "",
      password: "",
      error_name: false,
      error_email: false,
      error_password: false,
      error_email_message: null,
      error_password_message: null
    };
  },
  computed: {
    isMobile() {
      return window.innerWidth < 1100;
    }
  },
  methods: {
    ...mapMutations(["SHOW_MODAL"]),
    onSubmit() {
      const registerData = {};
      if (this.first_name.length === 0) {
        this.error_name = true;
        setTimeout(() => (this.error_name = false), 2000);
        return;
      } else {
        registerData.first_name = this.first_name;
      }
      if (
        this.email.length === 0 ||
        !this.email.match(/^[0-9a-z-.]+@[0-9a-z-]{2,}\.[a-z]{2,}$/i)
      ) {
        this.error_email = true;
        this.error_email_message = "Некорректный email";
        setTimeout(() => {
          this.error_email = false;
          this.error_email_message = null;
        }, 2000);
        return;
      } else {
        registerData.email = this.email;
      }
      if (this.password.length === 0 || this.password.length < 6) {
        this.error_password = true;
        this.error_password_message =
          "Ненадежный пароль (Используйте символы A-z, 0-9)";
        setTimeout(() => {
          this.error_password = false;
          this.error_password_message = null;
        }, 2000);
        return;
      } else {
        registerData.password = this.password;
      }

      this.$store
        .dispatch("auth/register", registerData)
        .then(() => {
          this.SHOW_MODAL("check");
        })
        .catch(statusCode => {
          if (statusCode === 422) {
            this.error_email = true;
            this.error_email_message =
              "На эту почту уже зарегистрирован аккаунт";
            setTimeout(() => {
              this.error_email = false;
              this.error_email_message = null;
            }, 3000);
          }
        });
    },
    login() {
      this.SHOW_MODAL("login");
    }
  }
};
</script>

<style lang="scss">
.c-register-modal {
  padding: rem(20) rem(116) 0 rem(114);
  @extend %h100;

  &__login {
    @extend %df;
    @extend %jcfe;
    &-btn {
      @extend %simple-btn-gray;
      width: rem(133);
      height: rem(45);
    }
  }

  &__field {
    width: 100%;
    margin-bottom: rem(16);
  }

  &__content {
    @extend %df;
    @extend %fdc;
    // @extend %jcc;
    @extend %h100;
    width: rem(311);
    padding-top: rem(78);
  }

  &__title {
    @extend %h2-title-regular;
    color: $black;
  }

  &__subtitle {
    @extend %text-small-big-line-height;
    color: $black;
    max-width: rem(300);
    margin: rem(5) 0 rem(37) 0;
  }

  &__register-btn {
    @extend %btn-border-green;
    @extend %btn-all-green;
    width: rem(311);
    margin-top: rem(20);
  }

  &__social {
    @extend %empt-btn;
    width: 30px;
    height: 30px;
    border-radius: 5px;
    background-repeat: no-repeat;

    &-register {
      text-align: center;
      width: rem(311);
    }

    &:not(:last-child) {
      margin-right: 11.53px;
    }

    &-tag {
      margin-top: rem(40);
      margin-bottom: rem(10);
      @extend %ls-5;
      @extend %regular;
    }

    &--google {
      background-image: url($img_dir+"/icons/google-auth.svg");
    }

    &--facebook {
      background-image: url($img_dir+"/icons/fb-auth.svg");
    }

    &--vk {
      background-image: url($img_dir+"/icons/vk-auth.svg");
    }

    &__socials {
      @extend %df;
      @extend %aic;
    }
  }
}
@include bp(1100px) {
  .c-register-modal {
    padding: 20px 0 0 0;
    max-width: 750px;
    margin: 0 auto;
    &__login {
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    &__content {
      margin: 0 auto;
    }
  }
}
</style>
