<template>
  <BaseModal class="c-special-modal-main">
    <div class="c-special-modal">
      <div class="c-special-modal__wrap c-special-modal__wrap_top">
        <!--        <button class="c-special-modal__close">-->
        <!--          <span></span>-->
        <!--          <span></span>-->
        <!--        </button>-->
        <h2 class="c-special-modal__title">Анкета специального занятия</h2>
      </div>
      <div class="c-special-modal__wrap c-special-modal__wrap_teacher">
        <StudentModalCard :photo="user_photo"
                          :name="user_first_name"
                          :surname="user_last_name"/>
<!--        <TeacherModalCard-->
<!--          :image="teacherInfo.image"-->
<!--          :name="teacherInfo.name"-->
<!--          :surname="teacherInfo.surname"-->
<!--          :time-start="teacherInfo.timeStart"-->
<!--          :time-end="teacherInfo.timeEnd"-->
<!--        />-->
      </div>
      <div class="c-special-modal__wrap c-special-modal__wrap_text">
        <div class="c-special-modal__wrapper-text">
          <h3 class="c-special-modal__text-title">
            Опишите вашу ситуацию
          </h3>
          <div class="c-special-modal__textarea">
            <BaseTextArea v-model="situation_val" />
          </div>
        </div>
        <div class="c-special-modal__wrapper-text">
          <h3 class="c-special-modal__text-title">
            У вас уже есть готовый материал для подготовки?
          </h3>
          <div class="c-special-modal__textarea">
            <BaseTextArea v-model="materials_val" />
          </div>
        </div>
        <div class="c-special-modal__wrapper-text">
          <h3 class="c-special-modal__text-title">
            Когда вам было бы удобно провести занятие?
          </h3>
          <div class="c-special-modal__textarea">
            <BaseTextArea v-model="lesson_val" />
          </div>
        </div>
      </div>
      <div class="c-special-modal__user-data">
        <h3 class="c-special-modal__data-title">
          Ваши контактные данные
        </h3>
        <p class="c-special-modal__data-text">
          Подтвердите свои контактные данные что б мы могли связаться с вами и
          обсудить ваше занятие.
        </p>
        <div class="c-special-modal__data-wrap">
          <BaseInputText
            class="c-special-modal__field"
            icon="email"
            placeholder="Ваша почта"
            v-model="userEmail"
          />
          <BasePhoneInput v-model="phone"/>
        </div>
      </div>
      <button @click="send_special_lesson" class="c-special-modal__btn">
        <span>Хочу специальное занятие!</span>
      </button>
    </div>
  </BaseModal>
</template>

<script>
// import TeacherModalCard from "@/components/TeacherModalCard.vue";
import $http from '@/service/index'
import { mapGetters } from "vuex";
import StudentModalCard from "../StudentModalCard";
export default {
  components: {
    StudentModalCard,
    // TeacherModalCard
  },
  data() {
    return {
      situation_val: null,
      materials_val: null,
      lesson_val: null,
      userEmail: null,
      phone: null,
    };
  },
  computed: {
    ...mapGetters('user', ['user_photo', 'user_first_name', 'user_last_name'])
  },
  methods: {
    send_special_lesson() {
      const SendingData = {
        situation: this.situation_val,
        materials: this.materials_val,
        lesson_description: this.lesson_val,
        student_phone: this.phone.number,
        student_country: this.phone.code,
        student_email: this.userEmail
      }
      $http.send_special_lesson(SendingData)
        .then(() => {
          this.$store.dispatch('close_modal_and_clear_data')
        })
      .catch(({ response }) => {
        console.log(response)
        this.$store.dispatch('errorHandler', {
          type: "danger",
          text: "Возникла ошибка! Попробуйте еще раз через несколько минут."
        })
      })
    }
  },
};
</script>

<style lang="scss">
.c-special-modal-main {
  overflow-x: scroll;
}
.c-special-modal {
  padding-top: rem(43);
  padding-left: rem(61);
  max-width: rem(574);
  padding-right: rem(50);
  height: 100%;
  // .c-special-modal__wrap

  &__wrap {
    // .c-special-modal__wrap_top

    &_top {
      @extend %df;
      @extend %aic;
      margin-bottom: rem(60);
    }

    // .c-special-modal__wrap_teacher

    &_teacher {
      margin-bottom: 30px;
    }

    // .c-special-modal__wrap_text

    &_text {
    }
  }

  // .c-special-modal__close

  &__close {
    @extend %close-modal-btn;
  }

  // .c-special-modal__title

  &__title {
    @extend %h3-title-bold;
    color: $gray;
    margin-left: rem(12);
  }

  // .c-special-modal__wrapper-text

  &__wrapper-text {
    margin-bottom: rem(40);
  }

  &__field {
    width: calc(100% / 2);
    margin-right: 10px;
  }

  // .c-special-modal__text-title

  &__text-title {
    @extend %text-big;
    color: $gray;
    margin-bottom: rem(14);
  }

  // .c-special-modal__textarea

  &__textarea {
    height: 120px;
  }

  // .c-special-modal__user-data

  &__user-data {
  }

  // .c-special-modal__btn

  &__btn {
    @extend %simple-btn-green;
    margin-top: 30px;
    margin-bottom: 50px;
  }

  &__data {
    &-title {
      margin-bottom: 20px;
    }
    &-wrap {
      margin-top: 20px;
      @extend %df;
      @extend %jcsb;
    }
  }
}
@include bp(1100px) {
  .c-special-modal {
    padding: 0 15px 80px;
    margin: 0 auto;
    margin-top: 50px;
    &__close {
      display: none;
    }
  }
}
</style>
