<template>
  <BaseModal class="c-video-modal">
    <div class="c-video">
      <div class="c-video__container">
        <div class="c-video__content">
          <div class="c-video__header">
            <h2 class="c-video__header-teacher">Видео с преподавателем</h2>
          </div>
          <iframe
            class="c-video__curator"
            width="560"
            height="315"
            src="https://www.youtube.com/embed/Uly_oZXx14E"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
          <div class="c-video__content-holder">
            <h2 class="c-video__content-holder-title">О преподавателе</h2>
            <p class="c-video__content-holder-about">
              Exercitation officia ad officia sit amet laboris Lorem Lorem.
              Veniam sunt est eu voluptate ut officia proident pariatur sint
              amet in cupidatat ea cillum. Irure fugiat magna deserunt labore
              veniam cupidatat veniam minim ea quis laborum.
            </p>
            <p class="c-video__content-holder-description">
              Exercitation officia ad officia sit amet laboris Lorem Lorem.
              Veniam sunt est eu voluptate ut officia proident pariatur sint
              amet in cupidatat ea cillum. Irure fugiat magna deserunt labore
              veniam cupidatat veniam minim ea quis laborum.Exercitation officia
              ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu
              voluptate ut officia proident pariatur sint amet in cupidatat ea
              cillum.
            </p>
          </div>
        </div>
      </div>
    </div>
  </BaseModal>
</template>

<script>
export default {
  name: "Video"
};
</script>

<style lang="scss">
.c-video-modal {
  overflow-y: scroll;
}
.c-video {
  @extend %pagept;
  margin-bottom: 30px;
  &__container {
    max-width: 658px;
    @extend %m0a;
    padding-top: 10px;
    padding-left: 20px;
  }

  &__curator {
    margin-top: 31px;
  }

  &__header {
    @extend %df;
    @extend %jcfs;

    width: 500px;

    &-close {
      margin-right: 18px;
    }

    &-teacher {
      @extend %h3-title-bold;
      margin-left: 15px;
      color: $gray;
    }
  }

  &__content {
    &-holder {
      &-title {
        margin: 60px 0 23px 0;
        @extend %h3-title-bold;
        color: $gray;
      }
      &-about {
        color: $gray;
        @extend %text-small;
      }
      &-description {
        color: $gray;
        @extend %text-small;
        margin-top: 20px;
      }
    }
  }
}
@include bp(1100px) {
  .c-video {
    &__container {
      max-width: 750px;
      padding-left: 0;
      padding-top: 50px;
    }
  }
}
@include bp(766px) {
  .c-video {
    &-modal {
      overflow-x: scroll;
    }
    max-width: 320px;
    padding-left: 0;
    margin: 0 auto;
    padding-bottom: 50px;
    &__header {
      width: 100%;
    }
    iframe {
      width: 100%;
      height: 250px;
    }
  }
}
</style>
