<template>
  <div class="c-setting-notification">
    <div class="c-setting-notification__wrap-icon">
      <img src="img/ill/notification-settings.svg" alt="cat-icon" />
    </div>
    <div class="c-setting-notification__notification">
      <div class="c-setting-notification__wrap-switch">
        <p class="c-setting-notification__title">Уведомления о занятиях</p>
        <BaseSwitch />
      </div>
      <div class="c-setting-notification__wrap-switch">
        <p class="c-setting-notification__title">Ежедневная рассылка</p>
        <BaseSwitch />
      </div>
      <div class="c-setting-notification__wrap-switch">
        <p class="c-setting-notification__title">Уведомления о новостях</p>
        <BaseSwitch />
      </div>
    </div>
  </div>
</template>

<script>
import BaseSwitch from "@/components/Base/BaseSwitch";
export default {
  name: "Notification",
  components: { BaseSwitch }
};
</script>

<style lang="scss">
.c-setting-notification {
  background: $dark_white;
  padding: rem(25) rem(33);
  @extend %df;
  @extend %jcsb;
  @extend %aic;

  &__title {
    @extend %text-big;
  }

  &__wrap-icon {
    width: 55%;
  }
  &__notification {
    width: 45%;
  }

  &__wrap-switch {
    @extend %df;
    @extend %jcsb;
    @extend %aic;

    margin-bottom: rem(22);
  }
}
@include bp(766px) {
  .c-setting-notification {
    padding: 36px 30px;
    flex-direction: column;
    &__wrap-icon {
      width: 262px;
    }
    &__notification {
      order: -1;
      width: 100%;
      margin-bottom: 30px;
    }
    &__title {
      font-size: rem(14);
      line-height: rem(14);
    }
    &__wrap-switch {
      width: 100%;
    }
  }
}
</style>
