<template>
  <div class="c-profile">
    <div class="c-profile__content">
      <div class="c-profile__wrapper-avatar">
        <div class="c-profile__avatar-holder">
          <img class="c-profile__wrapper-avatar-item"
                :src="default_user_photo"
                alt="user-photo"/>
          <label class="c-profile__wrapper-upload">
            <img
              class="c-profile__wrapper-upload-picture"
              src="img/icons/upload-photo.svg"
              alt="upload"
            />
            <span class="c-profile__wrapper-upload-title">Новое фото</span>
            <input type="file" ref="input_file" class="c-profile__file" @change="uploadPhoto($event)" />
          </label>
        </div>
      </div>
      <div class="c-profile__wrapper-credentials">
        <BaseInputText
          class="c-profile__field"
          :placeholder="user_first_name"
          v-model="first_name"
        />
        <BaseInputText
          class="c-profile__field"
          :placeholder="user_last_name ? user_last_name : 'Surname'"
          v-model="last_name"
        />
      </div>
      <div class="c-profile__wrapper-data">
        <BasePhoneInput class="c-profile__field" v-model="phone"/>
        <div class="c-profile__socials">
          <div class="c-profile__holder-social">
            <img
              class="c-profile__social"
              :class="{ active: is_insta }"
              @click="setSocial('insta')"
              src="img/icons/insta.svg"
              alt="instagramm"
            />
            <template>
              <div class="c-profile__close">
                <button
                  v-tooltip="{ text: 'Удалить акаунт' }"
                  class="c-profile__close-btn"
                  @click="deleteSocial('insta')"
                  v-if="is_insta"
                >
                  <svg
                    width="9"
                    height="9"
                    viewBox="0 0 9 9"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M1.21436 1.21436L7.78578 7.78578"
                      stroke="#4B4B4B"
                      stroke-linecap="round"
                    />
                    <path
                      d="M7.78564 1.21436L1.21422 7.78578"
                      stroke="#4B4B4B"
                      stroke-linecap="round"
                    />
                  </svg>
                </button>
              </div>
            </template>
          </div>
          <div class="c-profile__holder-social">
            <img
              class="c-profile__social"
              :class="{ active: is_fb }"
              @click="setSocial('fb')"
              src="img/icons/fb.svg"
              alt="facebook"
            />
            <div class="c-profile__close">
              <button
                v-tooltip="{ text: 'Удалить акаунт' }"
                class="c-profile__close-btn"
                @click="deleteSocial('fb')"
                v-if="is_fb"
              >
                <svg
                  width="9"
                  height="9"
                  viewBox="0 0 9 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.21436 1.21436L7.78578 7.78578"
                    stroke="#4B4B4B"
                    stroke-linecap="round"
                  />
                  <path
                    d="M7.78564 1.21436L1.21422 7.78578"
                    stroke="#4B4B4B"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
          </div>
          <div class="c-profile__holder-social" >
            <img
              class="c-profile__social"
              :class="{ active: is_vk }"
              @click="setSocial('vk')"
              src="img/icons/vk.svg"
              alt="vk"
            />
            <div class="c-profile__close">
              <button
                v-tooltip="{ text: 'Удалить акаунт' }"
                class="c-profile__close-btn"
                @click="deleteSocial('vk')"
                v-if="is_vk"
              >
                <svg
                  width="9"
                  height="9"
                  viewBox="0 0 9 9"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M1.21436 1.21436L7.78578 7.78578"
                    stroke="#4B4B4B"
                    stroke-linecap="round"
                  />
                  <path
                    d="M7.78564 1.21436L1.21422 7.78578"
                    stroke="#4B4B4B"
                    stroke-linecap="round"
                  />
                </svg>
              </button>
            </div>
          </div>
          <span class="c-profile__social-title">Ваши соц. сети</span>
        </div>
      </div>
    </div>
    <div class="c-profile__title">
      <h2 class="c-profile__title-tag">Изменение пароля</h2>
    </div>
    <div class="c-profile__change">
      <div class="c-profile__change-password">
        <BaseInputPassword
          class="c-profile__field"
          placeholder="Старый пароль"
          v-model="old_password"
        />
        <BaseInputPassword
          class="c-profile__field"
          placeholder="Новый пароль"
          :showProgress="true"
          v-model="new_password"
          :error="error_password"
          :error_message="error_password_message"
        />
        <button class="c-profile__approve" @click="save">
          Сохранить изменения
        </button>
      </div>
      <div class="c-profile__email">
        <BaseInputText
          class="c-profile__field c-profile__field_reg"
          icon="email"
          :placeholder="user_email"
          v-model="email"
          :error="error_email"
          :error_message="error_email_message"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
import { check_form_data } from "@/mixins/mixins.js";
import BasePhoneInput from "../Base/BasePhoneInput";
export default {
  name: "Profile",
  components: {BasePhoneInput},
  mixins: [check_form_data],
  data() {
    return {
      sendingPhoto: null,
      first_name: null,
      last_name: null,
      phone: null,
      old_password: null,
      new_password: null,
      email: null,
      error_password: false,
      error_email: false,
      error_email_message: null,
      error_password_message: null,
      social_links: {},
      is_insta: false,
      is_fb: false,
      is_vk: false
    };
  },
  computed: {
    ...mapGetters("user", ["user_first_name", "user_last_name", "user_email", 'user_photo']),
    links_soc() {
      return this.social_links;
    },
    default_user_photo() {
      return this.user_photo ? this.user_photo : 'img/ill/default-photo.svg'
    }
  },
  methods: {
    ...mapMutations(["ADD_NOTIFICATION"]),
    save() {
      const SaveNewData = {};
      if (this.first_name) {
        if (this.check_name("first_name") && this.first_name.length > 0) {
          SaveNewData.first_name = this.first_name;
        } else {
          return;
        }
      }
      if (this.last_name) {
        if (this.check_name("last_name") && this.last_name.length > 0) {
          SaveNewData.last_name = this.last_name;
        } else {
          return;
        }
      }
      // Доделать проверки
      if (this.email) {
        if (this.check_email_field(this.email) && this.email.length > 0) {
          SaveNewData.email = this.email;
        } else {
          this.error_handler("error_email", {
            message_field: "error_email_message",
            message: "Некорректный email!"
          });
          return;
        }
      }

      if (this.old_password && this.new_password) {
        if (
          this.check_password_field(this.new_password) &&
          this.old_password.length > 0 &&
          this.new_password.length > 0
        ) {
          SaveNewData.old_password = this.old_password;
          SaveNewData.new_password = this.new_password;
        } else {
          this.error_handler("error_password", {
            message_field: "error_password_message",
            message: "Ненадежный пароль (Используйте символы A-z, 0-9)"
          });
          return;
        }
      }

      if(this.phone) {
        if(this.phone.code && this.phone.number) {
          SaveNewData.phone = this.phone.number
          SaveNewData.country = this.phone.code
        }
      }

      if(this.sendingPhoto) {
        SaveNewData.photo = this.sendingPhoto;
      }

      if (Object.keys(this.social_links).length > 0) {
        SaveNewData.social_links = this.social_links;
      }

      if (Object.keys(SaveNewData).length === 0) {
        return;
      }

      let formData = new FormData();

      for(let k in SaveNewData) {
        formData.append(k, SaveNewData[k]);
      }




      // console.log(formData.toString())

      this.$store.dispatch("user/update_user_data", formData).then(() => {});

      // this.ADD_NOTIFICATION({
      //   type: "success",
      //   text: "Изменения успешно сохранены"
      // });
    },
    uploadPhoto(event) {
      let file = event.target.files,
          f = file[0],
          self = this;
      this.sendingPhoto = f;
      if (!f.type.match('image.*')) {
        alert('Только картинки')
        return
      }

      const reader = new FileReader()
      reader.onload = (function() {
        return function(e) {
          return (self.default_user_photo = e.target.result)
        }
      })(f)
      reader.readAsDataURL(f)
    },
    setSocial(name) {
      this.social_links[`${name}`] = prompt(
        "Вставьте ссылку на ваш аккаунт!",
        ""
      );
      if(name === 'insta') {
        this.is_insta = true
      } else if(name === 'fb') {
        this.is_fb = true
      } else {
        this.is_vk = true
      }
    },
    deleteSocial(name) {
      delete this.social_links[name];
      if(name === 'insta') {
        this.is_insta = false
      } else if(name === 'fb') {
        this.is_fb = false
      } else {
        this.is_vk = false
      }
    }
  }
};
</script>

<style lang="scss">
.c-profile {
  background: $dark_white;
  padding: rem(25) rem(33);
  display: grid;
  grid-template-columns: 1fr;

  &__content {
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr;
  }

  &__avatar-holder {
    position: relative;
    width: max-content;
  }

  &__wrapper {
    &-credentials {
      height: 110px;
    }

    &-avatar {
      position: relative;

      &:hover .c-profile__wrapper-upload {
        @extend %df;
      }

      &-item {
        width: 103px;
        height: 103px;
        border-radius: 50%;
        object-fit: fill;
      }
    }

    &-data {
      @extend %df;
      @extend %jcsb;
      @extend %fdc;
    }
  }

  &__change-password {
    grid-column-start: 2;
    width: 310px;
  }

  &__change {
    display: grid;
    grid-template-columns: 0.4fr 1fr 1fr;
  }

  &__field {
    margin-bottom: rem(10);
  }

  &__socials {
    @extend %df;
    @extend %jcfs;
    @extend %aic;
  }

  &__social {
    border: 1px solid $gray;
    padding: 5px;
    width: 25px;
    height: 25px;
    margin-right: 15px;
    cursor: pointer;
    border-radius: 2px;
    &.active {
      border-color: $green;
    }

    &-title {
      @extend %text-middle;
    }
  }

  &__title {
    display: grid;
    grid-template-rows: 0.4fr;
    grid-template-columns: 0.4fr 1fr 1fr;
    margin-top: rem(30);

    &-tag {
      grid-column-start: 2;
      @extend %text-middle;
      margin-bottom: rem(17);
    }
  }

  &__approve {
    @extend %btn-all-green;
    width: 100%;
    margin-top: 3.3rem;

    &:disabled {
      opacity: 0.5;
    }
  }

  &__wrapper-upload {
    display: none;
    position: absolute;
    text-align: center;
    top: 50%;
    background: #251c1cb8;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 100%;
    height: 90%;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;
    @extend %text-small;
    color: $white;

    &-picture {
      width: 22px;
      height: 18px;
    }

    &-title {
      display: block;
      width: max-content;
    }
  }

  &__holder-social {
    position: relative;

    &:hover .c-profile__close-btn {
      display: block;
    }
  }

  &__close {
    position: absolute;
    top: -10px;
    right: 0;
    &:hover .c-profile__close-title {
      display: block;
    }
    &-btn {
      position: relative;
      background-color: $dark_white;
      display: none;
      border-radius: 50%;
      height: 21px;
      width: 21px;
      border: 1px solid $gray;
      @extend %text-small;
    }
    &-title {
      display: none;
      border: 1px solid $gray;
      position: absolute;
      top: -34px;
      width: 130px;
      background: #fff;
      left: -58px;
      padding: 5px 9px;
    }
    &-title::after,
    .c-profile__close-title::before {
      content: "";
      position: absolute;
      background: #fff;
      left: 50%;
      bottom: -4px;
      width: 7px;
      height: 7px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      border-bottom: 1px solid;
      border-right: 1px solid;
      border-radius: 31%;
    }
    &-title::before {
      z-index: 1;
      box-shadow: none;
    }
  }

  &__file {
    display: none;
  }
}
@include bp(1100px) {
  .c-profile {
    &__field {
      width: 263px;
      &.c-input-password {
        padding-right: 10px;
      }
    }
    &__change-password {
      width: 290px;
    }
    &__approve {
      width: 262px;
    }
  }
}
@include bp(766px) {
  .c-profile {
    padding: 33px;
    padding-bottom: 82px;
    display: block;
    grid-template-columns: none;
    &__content,
    &__title,
    &__change {
      display: block;
      width: 100%;
      grid-template-columns: none;
    }
    &__change-password {
      width: 100%;
    }
    &__field {
      width: 100%;
      &_reg {
        margin-top: -110px;
      }
    }
    &__wrapper-avatar {
      margin-bottom: 30px;
    }
    &__wrapper-credentials {
      margin-bottom: 10px;
    }
    &__approve {
      width: 100%;
      height: 35px;
      margin-top: 85px;
      font-size: rem(12);
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
</style>
