<template>
  <div class="c-help">
    <div class="c-help__container">
      <Header
        btnTitle="Мои сообщения"
        v-model="searchQuery"
        pageTitle="Поддержка пользователей"
        btnRouteName="MyMessage"
      />
      <template v-if="numberOfQuestions">
        <div class="c-help__content">
          <transition-group name="list" tag="ul">
            <li :key="question.id" v-for="(question, index) in filterList">
              <Accordion
                :image="question.image"
                :title="question.title"
                :description="question.text"
                :data-index="index"
              />
            </li>
          </transition-group>
        </div>
      </template>
      <template v-else>
        <div class="c-help__not-found">
          <img
            class="c-faq__content-icon"
            src="img/ill/faq/you-have-no-messages.svg"
            alt="picture-message"
          />
          <h2 class="c-help__not-found-title">
            По вашему запросу ничего не найдено
          </h2>
          <button class="c-help__not-found-btn">
            <span>
              Очистить поиск
            </span>
          </button>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import Accordion from "@/components/Help/Accordion";
import Header from "@/components/Help/Header";
// import Velocity from 'velocity-animate'

export default {
  name: "Help",
  components: { Header, Accordion },
  props: {
    questions: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      questions1: [
        {
          id: 0,
          descr:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent diam neque, porttitor vel ligula non, eleifend suscipit mauris. Pellentesque tempor consectetur augue, non accumsan lacus dictum quis. Nullam sed ante ut libero malesuada laoreet vel sed magna. Morbi vehicula placerat velit, nec lacinia dolor tincidunt non. Praesent sit amet varius lacus. Aliquam lacinia in erat et mattis. Vestibulum a faucibus mi. Phasellus condimentum mauris dui, in fermentum nulla convallis sed. Vivamus non nisl ex. Sed rutrum molestie justo, nec laoreet elit maximus eget. Cras vel pellentesque mauris, at aliquet tortor. Aliquam nisl libero, porttitor ac nisi eget, viverra vulputate ligula. Aenean consequat, nunc sed pellentesque fermentum, urna libero aliquet est, id semper turpis urna eu neque. Suspendisse vel elit ullamcorper, dapibus velit sit amet, feugiat orci. Nulla aliquet volutpat auctor. Aliquam lectus leo, lacinia nec ex nec, maximus bibendum leo.",
          title: "Как пользоваться Studia.it?",
          image: "img/ill/faq/how-to-use.svg"
        },
        {
          id: 1,
          descr:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent diam neque, porttitor vel ligula non, eleifend suscipit mauris. Pellentesque tempor consectetur augue, non accumsan lacus dictum quis. Nullam sed ante ut libero malesuada laoreet vel sed magna. Morbi vehicula placerat velit, nec lacinia dolor tincidunt non. Praesent sit amet varius lacus. Aliquam lacinia in erat et mattis. Vestibulum a faucibus mi. Phasellus condimentum mauris dui, in fermentum nulla convallis sed. Vivamus non nisl ex. Sed rutrum molestie justo, nec laoreet elit maximus eget. Cras vel pellentesque mauris, at aliquet tortor. Aliquam nisl libero, porttitor ac nisi eget, viverra vulputate ligula. Aenean consequat, nunc sed pellentesque fermentum, urna libero aliquet est, id semper turpis urna eu neque. Suspendisse vel elit ullamcorper, dapibus velit sit amet, feugiat orci. Nulla aliquet volutpat auctor. Aliquam lectus leo, lacinia nec ex nec, maximus bibendum leo.",
          title: "Что такое Studia.it?",
          image: "img/ill/faq/what-is-it.svg"
        },
        {
          id: 2,
          descr:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent diam neque, porttitor vel ligula non, eleifend suscipit mauris. Pellentesque tempor consectetur augue, non accumsan lacus dictum quis. Nullam sed ante ut libero malesuada laoreet vel sed magna. Morbi vehicula placerat velit, nec lacinia dolor tincidunt non. Praesent sit amet varius lacus. Aliquam lacinia in erat et mattis. Vestibulum a faucibus mi. Phasellus condimentum mauris dui, in fermentum nulla convallis sed. Vivamus non nisl ex. Sed rutrum molestie justo, nec laoreet elit maximus eget. Cras vel pellentesque mauris, at aliquet tortor. Aliquam nisl libero, porttitor ac nisi eget, viverra vulputate ligula. Aenean consequat, nunc sed pellentesque fermentum, urna libero aliquet est, id semper turpis urna eu neque. Suspendisse vel elit ullamcorper, dapibus velit sit amet, feugiat orci. Nulla aliquet volutpat auctor. Aliquam lectus leo, lacinia nec ex nec, maximus bibendum leo.",
          title: "Как повышать уровень?",
          image: "img/ill/faq/how-to-up-lavel.svg"
        },
        {
          id: 3,
          descr:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent diam neque, porttitor vel ligula non, eleifend suscipit mauris. Pellentesque tempor consectetur augue, non accumsan lacus dictum quis. Nullam sed ante ut libero malesuada laoreet vel sed magna. Morbi vehicula placerat velit, nec lacinia dolor tincidunt non. Praesent sit amet varius lacus. Aliquam lacinia in erat et mattis. Vestibulum a faucibus mi. Phasellus condimentum mauris dui, in fermentum nulla convallis sed. Vivamus non nisl ex. Sed rutrum molestie justo, nec laoreet elit maximus eget. Cras vel pellentesque mauris, at aliquet tortor. Aliquam nisl libero, porttitor ac nisi eget, viverra vulputate ligula. Aenean consequat, nunc sed pellentesque fermentum, urna libero aliquet est, id semper turpis urna eu neque. Suspendisse vel elit ullamcorper, dapibus velit sit amet, feugiat orci. Nulla aliquet volutpat auctor. Aliquam lectus leo, lacinia nec ex nec, maximus bibendum leo.",
          title: "Хочу работать у вас преподователем! Куда мне писать?",
          image: "img/ill/faq/i-want-work.svg"
        },
        {
          id: 4,
          descr:
            "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent diam neque, porttitor vel ligula non, eleifend suscipit mauris. Pellentesque tempor consectetur augue, non accumsan lacus dictum quis. Nullam sed ante ut libero malesuada laoreet vel sed magna. Morbi vehicula placerat velit, nec lacinia dolor tincidunt non. Praesent sit amet varius lacus. Aliquam lacinia in erat et mattis. Vestibulum a faucibus mi. Phasellus condimentum mauris dui, in fermentum nulla convallis sed. Vivamus non nisl ex. Sed rutrum molestie justo, nec laoreet elit maximus eget. Cras vel pellentesque mauris, at aliquet tortor. Aliquam nisl libero, porttitor ac nisi eget, viverra vulputate ligula. Aenean consequat, nunc sed pellentesque fermentum, urna libero aliquet est, id semper turpis urna eu neque. Suspendisse vel elit ullamcorper, dapibus velit sit amet, feugiat orci. Nulla aliquet volutpat auctor. Aliquam lectus leo, lacinia nec ex nec, maximus bibendum leo.",
          title: "Забыл пароль, что делать?",
          image: "img/ill/faq/i-want-work.svg"
        }
      ],
      searchQuery: ""
    };
  },
  computed: {
    filterList() {
      return this.questions.filter(question => {
        return question.title
          .toLowerCase()
          .includes(this.searchQuery.toLowerCase());
      });
    },
    numberOfQuestions() {
      return this.filterList.length > 0;
    }
  }
  // methods: {
  //   beforeEnter: function (el) {
  //     el.style.opacity = 0
  //     el.style.transform = 'translateX(50px)'
  //     // el.style.height = 0
  //   },
  //   enter: function (el, done) {
  //     var delay = el.dataset.index * 150
  //     setTimeout(function () {
  //       Velocity(
  //         el,
  //         { opacity: 1, transform: 'translateX(50px)' },
  //         { complete: done }
  //       )
  //     }, delay)
  //   },
  //   leave: function (el, done) {
  //     var delay = el.dataset.index * 150
  //     setTimeout(function () {
  //       Velocity(
  //         el,
  //         { opacity: 0, transform: 'translateX(0)' },
  //         { complete: done }
  //       )
  //     }, delay)
  //   }
  // }
};
</script>

<style lang="scss">
.c-help {
  padding-top: rem(35);
  padding-left: rem(30);
  max-width: rem(892);

  &__message-btn {
    @extend %simple-btn-red-border;
    width: rem(179);
    height: 37px;
  }
  &__not-found {
    /*<!--@extend  %df;-->*/
    /*<!--@extend  %fdc;-->*/
    /*<!--@extend  %jcc;-->*/
    img {
      display: block;
      margin: 30px auto 20px;
      width: auto;
      height: auto;
    }

    &-title {
      @extend %h2-title-regular;
      text-align: center;
      margin-bottom: 20px;
    }
    &-btn {
      @extend %simple-btn-green;
      margin: 0 auto;
      width: 200px;
    }
  }
}
@include bp(1360px) {
  .c-help {
    padding-right: 30px;
    padding-bottom: 50px;
  }
}
@include bp(1100px) {
  .c-help {
    padding: 50px 0 50px 0;
    margin: 0 auto;
    max-width: 750px;
  }
}
@include bp(766px) {
  .c-help {
    max-width: 320px;
    &__message-btn {
      width: 127px;
      font-size: rem(12);
    }
  }
}
</style>
