<template>
  <div class="c-home">
    <header class="c-home__header">
      <template v-if="role_student">
        <UserLevel />
        <Promotion />
      </template>
      <template v-else>
        <TeacherDashboard />
      </template>
    </header>
    <template v-if="role_student">
      <div class="c-home__offer">
        <div class="c-home__offer-wrap">
          <h2 class="c-home__offer-title">
            Специальные предложения
          </h2>
          <router-link :to="{ name: 'HomePage' }" class="c-home__offer-link"
            >Экзамен на сертификат</router-link
          >
        </div>
        <div class="c-home__offer-items">
          <SpecialOffer v-for="itm of offers" :key="itm.id" :offer="itm" />
        </div>
      </div>
    </template>
    <div class="c-home__calendar">
      <h2 class="c-home__calendar-title">
        Ближайшие занятия
      </h2>
      <BaseWeekCalendar @click="calendarEvent" :lessons="computed_lessons" />
    </div>
    <div class="c-home__notifications" id="notifications">
      <h2 class="c-home__notifications-title">
        Уведомления
      </h2>
      <template v-if="notifications">
        <template v-for="(notification, index) in notifications">
        <Notification :is_curator="user_role === 'curator'"
                      :text="notification.notification.notification"
                      :key="index"/>
        </template>
      </template>
    </div>
    <template v-if="role_student">
      <Articles />
      <VideoSlider />
    </template>
  </div>
</template>

<script>
import UserLevel from "@/components/HomePage/UserLevel.vue";
import Promotion from "@/components/HomePage/Promotion.vue";
import SpecialOffer from "@/components/HomePage/SpecialOffer.vue";
import Notification from "@/components/HomePage/Notification.vue";
import Articles from "@/components/HomePage/Articles";
import VideoSlider from "@/components/HomePage/VideoSlider";
import TeacherDashboard from "@/components/HomePage/TeacherDashboard";
import { show_lesson_modal_mixin } from "@/mixins/mixins.js";
import { mapGetters } from "vuex";
export default {
  name: "HomePage",
  mixins: [show_lesson_modal_mixin],
  components: {
    VideoSlider,
    Articles,
    Notification,
    UserLevel,
    Promotion,
    SpecialOffer,
    TeacherDashboard
  },
  data() {
    return {
      offers: [
        {
          id: 1,
          discount: "5-15",
          img: "img/ill/special/clasic.svg",
          lessons: "5-10",
          name: "Классические занятия"
        },
        {
          id: 2,
          discount: "5-15",
          img: "img/ill/special/spoken.png",
          lessons: "5-30",
          name: "Разговорные занятия"
        },
        {
          id: 3,
          discount: "5-15",
          img: "img/ill/special/max.png",
          lessons: 3,
          name: "Отработка произношения"
        }
      ],
      // notifications: [
      //   {
      //     id: 1,
      //     teacher: "Анна Батьковна",
      //     time: 60,
      //     link: "https://google.com"
      //   },
      //
      //   {
      //     id: 2,
      //     teacher: "Анна Батьковна",
      //     time: 60,
      //     link: "https://google.com"
      //   },
      //
      //   {
      //     id: 3,
      //     teacher: "Анна Батьковна",
      //     time: 60,
      //     link: "https://google.com"
      //   },
      //
      //   {
      //     id: 4,
      //     teacher: "Анна Батьковна",
      //     time: 60,
      //     link: "https://google.com"
      //   }
      // ],
      lessons: []
    };
  },
  computed: {
    ...mapGetters("user", ["user_role", "user_lessons", 'curator_confirmed_lessons', 'notifications']),
    role_student() {
      return this.user_role === "student";
    },
    student_lessons() {
      return this.user_lessons
    },
    curator_lessons() {
      return this.curator_confirmed_lessons
    },
    computed_lessons() {
      let result = [];
      if (this.student_lessons) {
        this.student_lessons.forEach(({ id, day }) => {
          result.push({ id, day });
        });
      } else if (this.curator_lessons) {
        this.curator_lessons.forEach(({ id, calendar_day }) => {
          result.push({ id, day: calendar_day })
        })
      }
      return result;
    }
  },
  methods: {
    calendarEvent(data) {
      if (data.type.name === "lessons-modal") {
        const { fullDate } = data.date;
        this.show_lesson_modal(fullDate);
      }
    }
    // open_lessons_modal
  },
  created() {
    this.$store.dispatch('user/get_notifications')
  }
};
</script>

<style lang="scss">
.c-home {
  padding-left: rem(30);
  padding-top: rem(20);
  max-width: rem(920);
  padding-bottom: 50px;
  &__header {
    @extend %df;
    @extend %jcsb;
    @extend %aic;
  }
  &__offer {
    padding-top: rem(79);
    &-wrap {
      @extend %df;
      @extend %aic;
      @extend %jcsb;
      margin-bottom: rem(21);
    }
    &-title {
      @extend %h3-title-bold;
      color: $black;
    }
    &-link {
      @extend %simple-btn-red-border;
      width: rem(208);
      height: rem(35);
    }
    &-items {
      @extend %df;
      @extend %aic;
      @extend %jcsb;
    }
  }
  &__calendar {
    margin-top: rem(80);
    &-title {
      @extend %h3-title-bold;
      color: $black;
      margin-bottom: rem(23);
    }
  }
  &__notifications {
    padding-top: rem(80);
    &-title {
      @extend %h3-title-bold;
      color: $black;
      margin-bottom: rem(23);
      // margin: rem(80) 0 rem(23) rem(30);
    }
  }
}
@include bp(1360px) {
  .c-home {
    padding-right: 30px;
  }
}
@include bp(1100px) {
  .c-home {
    padding: 50px 0 0 0;
    margin: 0 auto;
    max-width: 750px;
  }
}
@include bp(766px) {
  .c-home {
    max-width: 320px;
    &__header {
      flex-direction: column;
    }
    &__offer {
      &-title {
        font-size: rem(16);
      }
      &-link {
        width: 150px;
        height: 30px;
        font-size: rem(10);
      }
      &-items {
        flex-wrap: wrap;
      }
    }
    &__notifications {
      font-size: rem(16);
    }
  }
}
</style>
