<template>
  <div class="teachers">
    <template v-if="role">
      <div class="teachers__wrap teachers__wrap_title">
        <figure class="teachers__title-img">
          <img src="img/ill/calendar.svg" alt="Title icon" />
        </figure>
        <h1 class="teachers__title">Выбери своего первого преподавателя!</h1>
      </div>
    </template>
    <div class="teachers__wrap teachers__wrap_filters">
      <div class="teachers__filters-wrap">
        <BaseSelect
          :options="options"
          placeholder="Все преподаватели"
          v-model="teacher"
          @input="teacher_type"
        />
        <BaseDataFilter @change="change_date" />
        <BaseTimeFilter @change="change_time"/>
      </div>
      <button
        class="teachers__my"
        :class="{ active: isOnlyFavorites }"
        @click="show_favor_curators"
      >
        <span>Мои преподаватели</span>
      </button>
    </div>
    <!--    <pre>-->
    <!--      {{ curators_list }}-->
    <!--    </pre>-->
    <div class="teachers__wrap teachers__wrap_tech">
      <template v-if="curators_list.length > 0">
        <TeacherCard
                v-for="itm of curators_list"
                :curator="itm"
                :key="itm.id"
        ></TeacherCard>
      </template>
      <template v-else>
        <h3 class="teachers__not-found">
          По выбранным фильтрам учителей не найдено
        </h3>
      </template>
    </div>
    <Notifications />
  </div>
</template>

<script>
  import TeacherCard from "@/components/TeacherCard.vue";
  import {mapGetters} from "vuex";
  import Notifications from "../components/Notifications";

  export default {
  components: {
    Notifications,
    TeacherCard
  },
  props: {
    curators: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      teacher: null,
      show_favorite: false,
      filters: {
        native_speaker: null,
        date: null,
        time: null,
      },
      tests: null,
      theaches: [
        {
          id: 234,
          img_path: "img/users/photos/0.jpg",
          name: "Tomothy Murphy",
          nation: "Итальянец",
          about_content:
            "Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum. Irure fugiat magna deserunt labore veniam cupidatat veniam minim ea quis laborum. Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum. Irure fugiat magna deserunt labore veniam cupidatat veniam minim ea quis laborum.Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum."
        },
        {
          id: 998,
          img_path: "img/users/photos/1.jpg",
          name: "Tomothy Murphy",
          nation: "Итальянец",
          about_content:
            "Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum. Irure fugiat magna deserunt labore veniam cupidatat veniam minim ea quis laborum. Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum. Irure fugiat magna deserunt labore veniam cupidatat veniam minim ea quis laborum.Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum."
        },
        {
          id: 987,
          img_path: "img/users/photos/2.jpg",
          name: "Tomothy Murphy",
          nation: "Итальянец",
          about_content:
            "Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum. Irure fugiat magna deserunt labore veniam cupidatat veniam minim ea quis laborum. Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum. Irure fugiat magna deserunt labore veniam cupidatat veniam minim ea quis laborum.Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum."
        },
        {
          id: 325,
          img_path: "img/users/photos/3.jpg",
          name: "Lily Fisher",
          nation: "Итальянка",
          about_content:
            "Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum. Irure fugiat magna deserunt labore veniam cupidatat veniam minim ea quis laborum. Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum. Irure fugiat magna deserunt labore veniam cupidatat veniam minim ea quis laborum.Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum."
        },
        {
          id: 123,
          img_path: "img/users/photos/3.jpg",
          name: "Stella Flores",
          nation: "Итальянка",
          about_content:
            "Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum. Irure fugiat magna deserunt labore veniam cupidatat veniam minim ea quis laborum. Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum. Irure fugiat magna deserunt labore veniam cupidatat veniam minim ea quis laborum.Exercitation officia ad officia sit amet laboris Lorem Lorem. Veniam sunt est eu voluptate ut officia proident pariatur sint amet in cupidatat ea cillum."
        }
      ],
      options: [
        {
          val: "all",
          text: "Все преподаватели"
        },
        {
          val: "type-1",
          text: "Носитель языка"
        },
        {
          val: "type-2",
          text: "Не носитель языка"
        }
      ]
    };
  },
  computed: {
    ...mapGetters("user", [
      "user_role",
      "favorite_teachers",
      "blocked_teachers"
    ]),
    role() {
      return this.user_role === "default";
    },
    curators_list() {
      if(this.isOnlyFavorites && !!this.blocked_teachers) {
        return this.$store.getters['curators/curators_array'].filter((curator) => this.blocked_teachers.includes(curator.id))
      }
      return this.$store.getters['curators/curators_array']

      // if (!this.blocked_teacher && !this.favorite_teachers) return [];
      // let curators_id = this.isOnlyFavorites
      //   ? this.favorite_teachers
      //   : this.blocked_teachers;
      // return this.$store.getters['curators/curators_array'].find(curator => {
      //   if(this.isOnlyFavorites) return curators_id.includes(curator.id)
      //   console.log(curator)
      //   // for (let curator of curators_id) {
      //   //   // if(curator.teacher !== teacher.id && !this.isOnlyFavorites) {
      //   //   //   return teacher
      //   //   // }
      //   //   // if (curator.teacher !== teacher.id) {
      //   //   //   return teacher;
      //   //   // }
      //   //   // if (curator.teacher !== teacher.id && !this.isOnlyFavorites) {
      //   //   //   return teacher;
      //   //   // }
      //   //   // if (curator.teacher === teacher.id && this.isOnlyFavorites) {
      //   //   //   return teacher;
      //   //   // }
      //   // }
      // });
    },
    isOnlyFavorites() {
      return this.show_favorite;
    }
  },
  methods: {
    teacher_type(type) {
      this.filters.native_speaker = type === 'type-1' ? true : type === 'all' ? null : false
      this.filter_request()
    },
    change_date(date) {
      this.filters.date = date
      this.filter_request()
    },
    change_time(time) {
      this.filters.time = time
      this.filter_request()
    },
    async filter_request() {
      const send_data = {};
      if(this.check_filters) {
        if(this.filters.native_speaker) send_data.native_speaker = this.filters.native_speaker
        if(this.filters.date) send_data.date = this.filters.date
        if(this.filters.time) send_data.time = this.filters.time
      }
      Object.values(send_data).length > 0 ? await this.$store.dispatch('curators/filter_curators', send_data) :
                             await this.$store.dispatch('curators/get_curators');
    },
    check_filters() {
      return Object.values(this.filters).filter(e => !this.is_null(e)).length > 0
    },
    is_null(value) {
      return value === null
    },
    show_favor_curators() {
      this.show_favorite = !this.show_favorite;
    }
  }
  // created() {
  //   console.log(this.curators)
  // }
};
</script>

<style lang="scss">
.teachers {
  padding-top: 44px;
  padding-left: 30px;
  max-width: 921px;
  &__not-found {
    @extend %h3-title-bold;
    color: $gray;
  }
  &__wrap {
    &_title {
      @extend %df;
      margin-bottom: rem(58);
    }

    &_filters {
      @extend %df;
      align-items: flex-start;
      @extend %jcsb;

      margin-bottom: 32px;
    }
  }

  &__title {
    @extend %h2-title-bold;
    color: $black;
    margin-left: 14px;

    &-img {
      width: 44px;
      height: 36px;
    }
  }

  &__filters-wrap {
    @extend %df;
    align-items: flex-start;
    @extend %jcsb;
    width: 392px;
  }

  &__my {
    @extend %simple-select;
    width: 187px;
    @extend %btn-text;
    color: $black;
    &.active {
      color: $green;
      border-color: $green;
    }
    span {
      @extend %db;
      text-align: center;
      line-height: rem(35);
    }

    &:hover {
      color: $green;
    }
  }
}

@include bp(1360px) {
  .teachers {
    padding-right: 30px;
  }
}

@include bp(1100px) {
  .teachers {
    padding-top: 57px;
    padding-left: 0;
    max-width: 750px;
    margin: 0 auto;
    padding-right: 0;

    &__filters-wrap {
      width: 402px;
    }
  }
}

@include bp(766px) {
  .teachers {
    max-width: 320px;

    &__title {
      font-size: rem(20);
      line-height: rem(25);
    }

    &__filters-wrap {
      width: 100%;
      position: relative;
      z-index: 5;

      .select {
        width: 161px;
        height: 30px;

        &__wrapper {
          height: 30px;
        }

        &__wrap-val {
          padding-left: 15px;
          padding-right: 5px;
          height: 30px;
        }

        &__value {
          font-size: rem(12);
        }

        &__optios {
          padding-left: 15px;
        }

        &__option-btn {
          font-size: rem(12);
        }
      }

      .datepiker {
        width: 66px;
        height: 30px;

        &__val {
          font-size: rem(12);
        }
      }

      .timepicker {
        width: 75px;
        height: 30px;

        &__val {
          font-size: rem(12);
        }
      }
    }

    &__my {
      width: 100%;
      height: 30px;
      font-size: rem(12);
      line-height: rem(14);
      margin-top: 11px;
      display: flex;
      justify-content: center;
      align-items: center;
      span {
        line-height: 16px;
      }
    }

    &__wrap {
      &_filters {
        width: 100%;
        flex-direction: column;
      }
    }
  }
}
</style>
