<template>
  <div class="v-new-lessons">
    <div class="v-new-lessons__wrap v-new-lessons__wrap_title">
      <h1 class="v-new-lessons__title">
        Новые занятия
      </h1>
    </div>
    <div class="v-new-lessons__wrap v-new-lessons__wrap_users">
      <template v-if="is_empty_new_lessons">
        <Student v-for="student in students_array"
                :key="student.id"
                :userId="student.student_id"
                :photo="student.photo"
                :name="student.first_name"
                :surname="student.last_name"
                :lessonId="student.id"
                :lessonDate="student.date"
                :lessonTime="student.time_from"
                :lessonTimeTo="student.time_to"
                :isPassed="!!student.link_to_lesson"
                :link_to_lesson="student.link_to_lesson"
                :link_to_homework="student.link_to_homework"
                :lesson_type="student.lesson_type"
                :lesson_comment="student.lesson_comment"
                @showUser="showUserModal" />
      </template>
      <template v-else>
        <div class="v-new-lessons__empty">
          <div class="v-new-lessons__wrapper">
            <figure class="v-new-lessons__ill">
              <img src="img/exam.svg" alt="">
            </figure>
            <div class="v-new-lessons__content">
              <h3 class="v-new-lessons__em-title">
                Новых занятий нет
              </h3>
              <p class="v-new-lessons__em-text">
                text
              </p>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { mapMutations, mapGetters } from "vuex";
import Student from "@/components/NewTeacherLessons/Student.vue";
import { get_curator_users } from '@/mixins/mixins.js'
export default {
  components: {
    Student
  },
  mixins: [get_curator_users],
  data() {
    return {
    };
  },
  computed: {
    ...mapGetters('user', ['curator_not_confirmed_lessons']),
  },
  methods: {
    ...mapMutations(["SHOW_MODAL"]),
    // Получает id занятия id
    showUserModal() {
      this.SHOW_MODAL("student-modal");
    },
    // Получает id юзера id
    showLessonModal() {
      this.SHOW_MODAL("new-teacher-lesson");
    }
  }
};
</script>

<style lang="scss">
.v-new-lessons {
  @extend %pagept;
  max-width: rem(892);
  // .v-new-lessons__wrap

  &__wrap {
    // .v-new-lessons__wrap_title

    &_title {
    }

    // .v-new-lessons__wrap_users

    &_users {
    }
  }

  // .v-new-lessons__title

  &__title {
    @extend %h3-title-bold;
    color: $gray;
    margin-bottom: rem(32);
  }
  &__wrapper {
    @extend %df;
  }
  &__ill {
    max-width: 200px;
  }
  &__content {
    margin-left: 50px;
  }
  &__em {
    &-title {
      @extend %h3-title-bold;
      color: $gray;
      margin-bottom: 15px;
    }
    &-text {
      @extend %text-small;
      color: $gray;
    }
  }
}
@include bp(1100px) {
  .v-new-lessons {
    max-width: 750px;
    margin: 0 auto;
  }
}
@include bp(766px) {
  .v-new-lessons {
    max-width: 320px;
    padding: 50px 0 0 0;
    &__title {
      font-size: rem(16);
    }
    &__wrapper {
      flex-direction: column;
    }
    &__content {
      margin-left: 0;
    }
  }
}
</style>
