<template>
  <div class="c-purchase-success">
    <figure class="c-purchase-success__img">
      <img src="img/ill/buy-plan/buy-success.svg" alt="" />
    </figure>
    <h1 class="c-purchase-success__title">
      Покупка пакета «Классический» прошла успешно!
    </h1>
    <p class="c-purchase-success__text">
      Выбери симпатичного тебе преподавателя и удобное время для занятий.
    </p>
    <router-link :to="{ name: 'HomePage' }" class="c-purchase-success__next">
      <span>Продолжить</span>
    </router-link>
  </div>
</template>

<script>
export default {
  name: "PurchaseSuccess"
};
</script>

<style lang="scss">
.c-purchase-success {
  padding-top: rem(61);
  padding-left: rem(31);
  // .c-purchase-success__img

  &__img {
  }

  // .c-purchase-success__title

  &__title {
    @extend %h2-title-regular;
    color: $black;
    max-width: rem(468);
    margin-top: rem(54);
    margin-bottom: rem(23);
  }

  // .c-purchase-success__text

  &__text {
    @extend %text-middle;
    color: $gray;
    max-width: rem(324);
  }

  // .c-purchase-success__next

  &__next {
    @extend %simple-btn-green;
    width: 163px;
    margin-top: rem(46);
  }
}
</style>
