<template>
  <div class="c-setting">
    <div class="c-setting__container">
      <h2 class="c-setting__title">Настройка профиля</h2>
      <Profile />
      <div class="c-setting__notification">
        <h2 class="c-setting__title">
          Настройки уведомлений
        </h2>
        <Notification />
      </div>
    </div>
  </div>
</template>

<script>
import Profile from "@/components/SettingPage/Profile";
import Notification from "@/components/SettingPage/Notification";

export default {
  name: "SettingPage",
  components: {
    Notification,
    Profile
  }
};
</script>

<style lang="scss">
.c-setting {
  &__container {
    max-width: rem(892);
    margin: 0 auto;
  }

  &__title {
    margin: rem(42) 0;
    @extend %h2-title-regular;
  }
}
@include bp(1360px) {
  .c-setting {
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 50px;
    &__container {
    }
  }
}
@include bp(1100px) {
  .c-setting {
    padding-bottom: 50px;
    &__container {
      max-width: 750px;
      padding: 0;
      margin: 0 auto;
    }
  }
}
@include bp(766px) {
  .c-setting {
    &__container {
      max-width: 320px;
    }
    &__title {
      font-size: rem(16);
      line-height: rem(16);
    }
  }
}
</style>
