<template>
  <div class="v-students-page">
    <div class="v-students">
      <div class="v-students__wrap v-students__wrap_top">
        <h1 class="v-students__title">
          Ваши ученики
        </h1>
        <div class="v-students__wrapper-selects">
          <BaseSelect
            class="v-students__select"
            :options="dateSelectOptions"
            v-model="dateSelect"
            :placeholder="'Дата занятия'"
          />
          <BaseSelect
            class="v-students__select v-students__select_big"
            :options="homeworkSelect"
            :placeholder="'По ДЗ'"
            v-model="homeworkSelected"
          />
        </div>
      </div>
      <div class="v-students__wrap v-students__wrap_bot">
        <SimpleStudentCard
          v-for="student in sort_students"
          :key="student.id"
          :userId="student.student_id"
          :photo="student.photo"
          :name="student.first_name"
          :surname="student.last_name"
          :student_level="student.student_level"
          :lessonId="student.id"
          :lessonDate="student.date"
          :lessonTime="student.time_from"
          :lessonTimeTo="student.time_to"
          :isPassed="!!student.link_to_lesson"
          :link_to_lesson="student.link_to_lesson"
          :link_to_homework="student.link_to_homework"
          :lesson_type="student.lesson_type"
          :lesson_comment="student.lesson_comment"
          :is_homework_done="student.is_homework_done"
          @showUser="showUserModal"
        />
      </div>
    </div>
  </div>
</template>

<script>
import SimpleStudentCard from "../components/SimpleStudentCard";
import { mapMutations, mapGetters } from "vuex";
import { get_curator_users } from '@/mixins/mixins.js'
export default {
  name: "Students",
  components: { SimpleStudentCard },
  mixins: [get_curator_users],
  data() {
    return {
      dateSelect: null,
      homeworkSelected: null,
      dateSelectOptions: [
        {
          val: "newest",
          text: "Ближайшие"
        },
      ],
      is_homework_checked: null,
      homeworkSelect: [
        {
          val: "not-check",
          text: "Непроверенные ДЗ"
        },
        {
          val: "not-links",
          text: "Без ссылки на дз"
        }
      ],
      students: [
        {
          id: 34242,
          img: "img/users/photos/1.jpg",
          name: "Ника Ларингова",
          level: "A1",
          date: "24 мая",
          link: "https://google.com",
          isHomework: false
        },
        {
          id: 34242,
          img: "img/users/photos/2.jpg",
          name: "Ника Ларингова",
          level: "A1",
          date: "24 мая",
          link: "https://google.com",
          isHomework: false
        },
        {
          id: 34242,
          img: "img/users/photos/3.jpg",
          name: "Ника Ларингова",
          level: "A1",
          date: "24 мая",
          link: "https://google.com",
          isHomework: false
        },
        {
          id: 34242,
          img: "img/users/photos/4.jpg",
          name: "Ника Ларингова",
          level: "A1",
          date: "24 мая",
          link: "https://google.com",
          isHomework: false
        },
        {
          id: 34242,
          img: "img/users/photos/4.jpg",
          name: "Ника Ларингова",
          level: "A1",
          date: "24 мая",
          link: "https://google.com",
          isHomework: true
        },
        {
          id: 34242,
          img: "img/users/photos/4.jpg",
          name: "Ника Ларингова",
          level: "A1",
          date: "24 мая",
          link: "https://google.com",
          isHomework: true
        }
      ]
    };
  },
  methods: {
    ...mapMutations(["SHOW_MODAL"]),
    // Получает id занятия id
    showUserModal() {
      this.SHOW_MODAL("student-modal");
    }
  },
  computed: {
    ...mapGetters('user', ['curator_not_confirmed_lessons', 'curator_confirmed_lessons'])
  },
};
</script>

<style lang="scss">
.v-students {
  &-page {
    max-width: 891px;
    margin-left: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
  }
  &__wrap {
    &_top {
      @extend %df;
      @extend %jcsb;
      @extend %aic;
    }
    &_bot {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 30px;
      margin-top: 25px;
    }
  }
  &__title {
    @extend %h3-title-bold;
    color: $gray;
  }
  &__wrapper-selects {
    @extend %df;
    @extend %jcsb;
  }
  &__select {
    &_big {
      margin-left: 19px;
      width: 235px;
    }
  }
}
@include bp(1100px) {
  .v-students-page {
    max-width: 750px;
    margin: 0 auto;
  }
}
@include bp(766px) {
  .v-students-page {
    max-width: 320px;
  }
  .v-students {
    &__wrap {
      &_top {
        flex-direction: column;
      }
      &_bot {
        grid-template-columns: 1fr;
      }
    }
    &__wrapper-selects {
    }
    &__select {
      width: 141px;
      &_big {
        width: 161px;
      }
      .select {
        &__wrap-val {
          padding-left: 10px;
          padding-right: 8px;
        }
        &__options {
          padding-left: 10px;
        }
        &__value {
          font-size: rem(12);
        }
        &__option-btn {
          font-size: rem(12);
        }
      }
    }
  }
}
</style>
