<template>
  <div class="c-tooltip">
    <slot></slot>
  </div>
</template>

<script>
export default {
  name: "BaseTooltip"
};
</script>

<style lang="scss">
.c-tooltip {
  position: absolute;
}
</style>
