<template>
  <div class="c-slider">
    <div class="c-slider__navigation">
      <h2>{{ title }}</h2>
      <div class="c-slider__remote">
        <button class="c-slider__remote-btn" @click="prevSlide">
          <img src="img/icons/arrow-left.svg" alt="Left" />
        </button>
        <button class="c-slider__remote-btn" @click="nextSlide">
          <img src="img/icons/arrow-right.svg" alt="Right" />
        </button>
      </div>
    </div>
    <div class="c-slider__wrapper">
      <slot v-for="slide in activeSlides" :slide="slide"></slot>
    </div>
  </div>
</template>

<script>
export default {
  name: "BaseSlider",
  props: {
    title: {
      type: String,
      required: true
    },
    slides: {
      type: Array,
      required: true
    },
    perPage: {
      type: Number,
      default: 2
    }
  },
  data() {
    return {
      offset: 0
    };
  },
  computed: {
    activeSlides() {
      let slides = [...this.slides].splice(this.offset, this.perPage);

      if (slides.length === this.perPage) {
        return slides;
      }

      return [
        ...slides,
        ...[...this.slides].splice(0, this.perPage - slides.length)
      ];
    }
  },
  methods: {
    nextSlide() {
      let offset = this.offset + 1;

      if (offset >= this.slides.length) {
        offset = 0;
      }

      this.offset = offset;
    },
    prevSlide() {
      let offset = this.offset - 1;

      if (offset < 0) {
        offset = this.slides.length - 1;
      }

      this.offset = offset;
    }
  }
};
</script>

<style lang="scss">
.c-slider {
  width: 100%;
  padding-top: rem(80);
  h2 {
    @extend %h3-title-bold;
    color: $black;
    margin-bottom: rem(23);
  }
  &__wrapper {
    @extend %df;
    @extend %jcsb;
  }

  &__navigation {
    @extend %df;
    @extend %jcsb;
    @extend %aic;
    margin-bottom: rem(14);
  }
  &__remote {
    @extend %df;
    @extend %jcsb;
    &-btn {
      border-left: 1px solid $gray;
      border-top: 1px solid $gray;
      border-bottom: 1px solid $gray;
      padding: 12px 13px;
      &:last-child {
        border-right: 1px solid $gray;
      }
    }
  }
}
@include bp(766px) {
  .c-slider {
    &__wrapper {
      flex-direction: column;
    }
    &__navigation {
      h2 {
        font-size: rem(16);
      }
    }
    &__remote-btn {
      padding: 10px 13px;
    }
  }
}
</style>
