<template>
  <li :class="class_names"
          @click="click_item"
          class="c-calendar__item"
  >
    <span class="c-calendar__item-data">{{ day }}</span>
    <template v-if="is_lesson_day">
      <template v-if="!is_filter">
        <div class="c-calendar__lesson-ico">
          <img src="img/icons/icon-calendar-lesson.svg"
               alt="Lesson illustration"/>
          <span>{{ count_lessons_in_day }}</span>
        </div>
      </template>
    </template>
    <template v-else-if="is_dayOff">
      <div class="c-calendar__icon-block">
        <span></span>
        <span></span>
      </div>
    </template>
    <template v-else-if="!is_curator && !is_filter">
      <div class="c-calendar__item-hover">
        <div class="c-calendar__item-hover-icon">
          <span></span>
          <span></span>
        </div>
        <p class="c-calendar__item-hover-text">
          Добавить <br />
          занятие
        </p>
      </div>
    </template>
  </li>
</template>

<script>
  export default {
    name: "BaseCalendarDay",
    props: {
      is_filter: Boolean,
      date_object: {
        type: Object,
      },
      day: {
        type: [String,Number],
      },
      full_date: {
        type: String
      },
      initDate: {
        type: [String,Number]
      },
      month: {
        type: [String,Number]
      },
      initMonth: {
        type: [String,Number]
      },
      daysOff: {
        type: Array
      },
      lessons_array: {
        type: Array
      },
      is_curator: {
        type: Boolean
      },
      is_week: {
        type: Boolean
      }
    },
    computed: {
      class_names() {
        const { day, initDate, initMonth, month, is_curator, is_week, daysOff, full_date  } = this;
        return {
          'current-day':parseInt(day) === initDate && month === initMonth,
          disabled: parseInt(day) < initDate && month === initMonth,
          'day-off': daysOff.includes(full_date),
          lesson: this.is_lesson_day,
          'is_student': !is_curator && !is_week,
          'is_week': is_week
        }
      },
      is_lesson_day() {
        const { lessons_array, full_date } = this;
        return lessons_array.includes(full_date);
      },
      count_lessons_in_day() {
        const {is_lesson_day, lessons_array, full_date} = this;
        // console.log(lessons_array)
        return is_lesson_day ? lessons_array.filter(el => el === full_date).length : null
      },
      is_dayOff() {
        const { daysOff, full_date } = this;
        return daysOff ? daysOff.includes(full_date) : null
      },
      is_mobile() {
        return window.innerWidth > 1200
      }
    },
    methods: {
      click_item() {
        this.$emit('click')
      }
    },
  }
</script>

<style lang="scss">
.c-calendar {
  &__item {
    height: rem(95);
    background-color: $white;
    border-radius: 2px;
    position: relative;
    border: 1px solid transparent;
    transition: all 0.5s ease;
    cursor: pointer;
    &.is_week {
      border: 1px solid $soft_gray;
    }
    &:hover {
      border-color: $gray;
      &.is_student {
        .c-calendar__item-hover {
          opacity: 1;
        }
      }
    }
    &.current-day {
      .c-calendar__item-data {
        color: $green;
      }
    }
    &.disabled {
      @extend %evt-none;
      background-color: rgba($color: $white, $alpha: 0.5);
      border-color: rgba($color: $soft_gray, $alpha: 0.2);
      .c-calendar__item-data {
        color: $soft_gray;
      }
    }
    &.day-off {
      @extend %df;
      @extend %jcc;
      @extend %aic;
      // @extend %evt-none;
      background-color: #fdefee;
      border-color: $red;
      .c-calendar {
        &__item-data {
          color: $red;
        }
      }
    }
    &.lesson {
      background-color: #f1ffea;
      border-color: $green;
      &.disabled {
        background-color: rgba($color: $white, $alpha: 0.5);
        border-color: rgba($color: $soft_gray, $alpha: 0.2);
        .c-calendar {
          &__item-data {
            color: $soft_gray;
          }
        }
      }
      .c-calendar {
        &__item-data {
          color: $green;
        }
      }
    }
    // .c-calendar__item_empty

    &_empty {
      background-color: transparent;
      @extend %evt-none;
    }
  }

  // .c-calendar__item-data

  &__item-data {
    position: absolute;
    top: rem(12);
    right: rem(17);
    @extend %h3-title-bold;
    color: $black;
    @extend %evt-none;
  }

  // .c-calendar__item-hover

  &__item-hover {
    padding-top: rem(25);
    transition: all 0.5s ease;
    opacity: 0;
    @extend %evt-none;
  }

  &__lesson-ico {
    position: absolute;
    bottom: rem(7);
    left: rem(12);
    img {
      margin-bottom: -5px;
    }
    span {
      @extend %text-small;
      color: $gray;
      margin-left: 5px;
      margin-bottom: 10px;
    }
  }
  // .c-calendar__item-hover-icon
  &__icon-block {
    position: relative;
    transform: rotate(45deg);
    width: rem(11);
    height: rem(11);
    span {
      position: absolute;
      top: rem(5);
      left: 0;
      @extend %db;
      width: rem(11);
      height: rem(2);
      background-color: $red;
      border-radius: 2px;
      &:last-child {
        transform: rotate(90deg);
      }
    }
  }
  &__item-hover-icon {
    position: relative;
    @extend %db;
    width: rem(22);
    height: rem(22);
    border: 2px solid $green;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: rem(3);
    span {
      position: absolute;
      top: 8px;
      left: 5px;
      @extend %db;
      width: rem(8);
      height: rem(2);
      background-color: $green;
      border-radius: 2px;
      &:last-child {
        transform: rotate(90deg);
      }
    }
  }

  // .c-calendar__item-hover-text

  &__item-hover-text {
    @extend %text-small;
    color: $green;
    text-align: center;
  }
}
@include bp(1100px) {
  .c-calendar {
    &__item {
      height: 80px;
    }
  }
}
@include bp(766px) {
  .c-calendar {
    &__item {
      width: 40px;
      height: 40px;
      &-data {
        top: 4px;
        right: 6px;
        font-size: rem(8);
      }
    }
    &__lesson-ico {
      bottom: 4px;
      left: 3px;
      display: flex;
      align-items: flex-end;
      span {
        display: inline-block;
        font-size: rem(6);
        margin-bottom: 0;
        line-height: rem(9);
      }
      img {
        width: rem(15);
        margin-bottom: 0;
      }
    }
  }
}
</style>
