<template>
  <li
          class="c-help-chat__message"
          :class="{
              question: !isAnswer,
              answer: isAnswer
            }"
  >
    <div class="c-help-chat__user">
      <div class="c-help-chat__user-img">
        <template v-if="!isAnswer">
          <template v-if="user_photo">
            <figure class="c-help-chat__img">
              <img :src="user_photo" :alt="user_name" />
            </figure>
          </template>
          <template v-else>
            <figure class="c-help-chat__img">
              <img src="img/ill/default-photo.svg" :alt="user_name" />
            </figure>
          </template>
        </template>
        <template v-else>
          <figure class="c-help-chat__img">
            <svg
                    width="32"
                    height="32"
                    viewBox="0 0 32 32"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                      cx="16"
                      cy="16"
                      r="15.5"
                      fill="white"
                      stroke="#39B100"
              />
              <path
                      d="M17.4313 19.2322C17.4313 18.9807 17.441 18.7292 17.441 18.468C17.441 18.3423 17.5089 18.1972 17.6445 18.1295C17.8286 18.0424 18.0031 17.9554 18.1872 17.878C18.1387 17.8296 18.0903 17.7909 18.0515 17.7426C17.9546 17.6459 17.8577 17.5491 17.7511 17.4524C17.6542 17.3557 17.5476 17.2493 17.4507 17.1525C17.3344 17.0365 17.2278 16.9301 17.1406 16.843L17.1309 16.8333C17.1019 16.8043 17.0825 16.785 17.0631 16.7656C17.0147 16.7173 16.9565 16.6592 16.9081 16.6012L16.8596 16.5528L16.8112 16.5045L15.6677 15.4308C15.658 15.3244 15.6483 15.2277 15.6483 15.1309C15.6386 14.9568 15.6386 14.773 15.6483 14.6086C15.658 14.4248 15.6677 14.2604 15.6968 14.0959C15.7452 13.7187 15.8712 13.2931 16.3363 13.0706C16.4235 13.0319 16.5108 12.9932 16.598 12.9545H16.6077C16.4817 12.8675 16.346 12.7901 16.22 12.7417C16.2007 12.7321 16.1716 12.7321 16.1425 12.7224C16.0844 12.7127 16.0069 12.7224 15.939 12.7321C15.8906 12.7417 15.8421 12.7514 15.7937 12.7708C15.7646 12.7804 15.7355 12.7901 15.6968 12.7998C15.658 12.8094 15.6095 12.8191 15.5708 12.8385C15.3479 12.8965 15.125 12.9545 14.9021 13.0223C14.3982 13.1673 13.9137 13.3124 13.4583 13.4575H13.4486L13.3711 13.4865C13.1773 13.5446 12.9834 13.6123 12.7993 13.68C12.7703 13.6897 12.7509 13.6993 12.7315 13.709C12.7121 13.7187 12.6927 13.7284 12.6734 13.738C12.654 13.7477 12.6346 13.7574 12.6249 13.7671C12.6152 13.7767 12.5958 13.7864 12.5861 13.7961C12.5668 13.8154 12.5474 13.8251 12.528 13.8444C12.5086 13.8735 12.4892 13.8928 12.4795 13.9315C12.4795 13.9315 12.4795 13.9412 12.4699 13.9412C12.3245 14.241 12.3148 14.5699 12.3729 14.8891C12.402 15.1019 12.5086 15.2277 12.6346 15.3534C12.6346 15.3534 12.6346 15.3631 12.6443 15.3631C12.6637 15.3824 12.683 15.4018 12.7024 15.4211C12.7606 15.4791 12.8187 15.5469 12.8865 15.6146C12.935 15.6533 12.9738 15.7016 13.0125 15.7403C13.5552 16.2917 14.0978 16.8333 14.6405 17.346C15.5417 18.2069 16.4914 19.0678 17.4604 19.8996V19.8899C17.4604 19.8899 17.4701 19.8899 17.4701 19.8996C17.4313 19.6578 17.4313 19.445 17.4313 19.2322ZM21.5207 18.971C21.5207 18.8259 21.5207 18.6808 21.5304 18.5261C21.5304 18.381 21.6079 18.2456 21.7339 18.1875C22.1603 17.9844 22.5866 17.7813 23.013 17.5781C23.2359 17.4717 23.4685 17.3653 23.6913 17.2589C23.8658 17.1816 24.0305 17.1042 24.2049 17.0171C24.2728 16.9881 24.3406 16.9591 24.3987 16.9301C24.5247 16.872 24.6507 16.814 24.7767 16.756C24.922 16.6786 24.9608 16.6302 25.0092 16.4561C25.048 16.311 25.0868 16.1562 25.1158 16.0111C25.1449 15.8854 25.174 15.7597 25.2031 15.6339L25.2515 15.4501C25.0965 15.3824 24.9511 15.305 24.7961 15.2277C24.1468 14.9181 23.4685 14.5796 22.8192 14.2314C22.5188 14.0766 22.199 13.8928 21.8502 13.6993C21.8405 13.6993 21.8405 13.6897 21.8308 13.6897C21.7242 13.6316 21.6079 13.5639 21.4916 13.4962C21.3463 13.4092 21.2009 13.3221 21.0556 13.2447C20.9974 13.206 20.9393 13.177 20.8811 13.1383C20.8133 13.0996 20.7455 13.0513 20.6776 13.0126C20.5807 12.9449 20.4741 12.8772 20.3772 12.8288C20.3482 12.8094 20.3094 12.7998 20.2803 12.7901C20.135 12.7417 19.9508 12.7901 19.7667 12.8481C19.728 12.8578 19.6795 12.8675 19.6408 12.8868C19.4179 12.9449 19.1853 13.0029 18.9624 13.0706C18.7202 13.1383 18.4682 13.2157 18.226 13.2834C18.0128 13.3511 17.7899 13.4188 17.5767 13.4865C17.567 13.4865 17.5573 13.4962 17.5476 13.4962L17.4313 13.5349C17.2375 13.5929 17.0437 13.6607 16.8499 13.7284C16.7821 13.7574 16.7239 13.7767 16.6755 13.8057C16.5883 13.8541 16.5495 13.8928 16.5204 13.9702C16.5204 13.9799 16.5204 13.9895 16.5204 13.9895C16.3751 14.2894 16.3654 14.6183 16.4235 14.9375C16.4526 15.1116 16.5301 15.2373 16.627 15.3534C16.6464 15.3727 16.6658 15.3921 16.6755 15.4114C16.6949 15.4308 16.7143 15.4598 16.7336 15.4791C16.753 15.5082 16.7821 15.5372 16.8112 15.5565C16.8402 15.5855 16.8693 15.6146 16.8984 15.6436C16.9468 15.6919 16.9953 15.7306 17.034 15.779L17.5089 16.253C17.8868 16.6302 18.2744 17.0074 18.6523 17.375C18.7105 17.4331 18.7783 17.4911 18.8365 17.5491C18.8655 17.5781 18.8946 17.6072 18.9237 17.6265C19.0399 17.7426 19.1562 17.849 19.2822 17.9554C19.3404 18.0134 19.4082 18.0715 19.4663 18.1295C20.1156 18.7292 20.7842 19.3289 21.4722 19.919V19.8899C21.4722 19.7255 21.4722 19.5611 21.4819 19.3966C21.5207 19.2612 21.5207 19.1161 21.5207 18.971ZM12.0629 12.3742C12.3051 12.5193 12.5474 12.6547 12.7896 12.7901C12.8478 12.7708 12.9156 12.7514 12.9738 12.7321C13.0319 12.7127 13.09 12.6934 13.1482 12.6837C13.2451 12.6547 13.3517 12.6257 13.4486 12.5966H13.4583C13.6618 12.5386 13.875 12.4709 14.0785 12.4129C14.0882 12.4129 14.0882 12.4032 14.0978 12.4032C14.311 12.3452 14.5145 12.2871 14.7277 12.2291C14.8246 12.2001 14.9312 12.171 15.0378 12.142C15.0766 12.1324 15.1153 12.1227 15.1541 12.1033H15.1638C15.2413 12.084 15.3188 12.0646 15.3964 12.0453C15.4739 12.026 15.5514 12.0066 15.6289 11.9873C15.6677 11.9776 15.7064 11.9679 15.7549 11.9679C15.8034 11.9679 15.8324 11.9582 15.8712 11.9486C15.9099 11.9389 15.9487 11.9389 15.9875 11.9389C16.0456 11.9292 16.1038 11.9292 16.1619 11.9389C16.5011 11.9582 16.7821 12.1227 17.0631 12.2871L17.6639 12.6353C18.0321 12.5289 18.4004 12.4225 18.8074 12.3065C18.914 12.2774 19.0206 12.2484 19.1369 12.2097C19.4469 12.1227 19.757 12.026 20.0768 11.9969C20.1931 11.9873 20.3094 11.9969 20.4063 12.0163C20.6776 12.0646 20.9102 12.2097 21.1428 12.3452L21.2203 12.3935C21.4722 12.5386 21.7145 12.6837 21.9665 12.8191C22.2959 13.0029 22.606 13.1867 22.9161 13.3511C22.9258 13.3511 22.9258 13.3608 22.9355 13.3608C23.5848 13.7187 24.2049 14.0572 24.8154 14.3571C25.1449 14.5215 25.4647 14.686 25.7845 14.8311C25.8232 14.8504 25.8717 14.8698 25.9104 14.8891C26.0849 14.9762 26.143 15.1793 26.1043 15.3341C26.0849 15.4211 26.0655 15.5178 26.0461 15.6049C26.0267 15.6726 26.017 15.75 25.9977 15.8177C25.9589 16.0305 25.9104 16.2433 25.8523 16.4561C25.8135 16.5818 25.7845 16.7173 25.736 16.843C25.5907 17.2783 25.2321 17.4427 24.893 17.5975L24.8736 17.6072C24.6895 17.6942 24.5053 17.7813 24.3212 17.8587C23.7301 18.1295 23.1196 18.41 22.5091 18.7002C22.4413 18.7292 22.3735 18.7582 22.3056 18.7969C22.2959 18.9807 22.2862 19.1742 22.2765 19.3579C22.2669 19.445 22.2669 19.5321 22.2669 19.6191C22.2475 19.919 22.2378 20.2092 22.2281 20.509C22.2184 20.567 22.2184 20.6251 22.2184 20.6831C22.2087 20.8185 22.1312 20.9346 22.0149 20.9926C21.8889 21.0507 21.7339 21.0313 21.6273 20.9346C21.4916 20.8185 21.356 20.7121 21.23 20.5961C21.1912 20.567 21.1621 20.538 21.1234 20.509C20.9296 20.3446 20.7455 20.1801 20.5517 20.0157C19.9605 19.503 19.3791 18.9807 18.8268 18.4584C18.633 18.5454 18.4295 18.6422 18.2356 18.7292C18.226 18.913 18.2163 19.1064 18.2066 19.2902C18.1969 19.4257 18.1872 19.5707 18.1872 19.7062V19.7158C18.1775 19.8319 18.1775 19.948 18.1678 20.0737C18.1581 20.2575 18.1484 20.4413 18.1484 20.6251C18.1387 20.7605 18.0612 20.8766 17.9449 20.9346C17.9256 20.9443 17.8965 20.954 17.8771 20.954C17.8674 20.954 17.848 20.9636 17.8383 20.9636C17.7414 20.9733 17.6445 20.9443 17.5573 20.8766C17.4217 20.7605 17.286 20.6444 17.1406 20.5284C16.2394 19.7642 15.3576 18.971 14.5145 18.1682C14.0688 18.3713 13.623 18.5841 13.1773 18.7872L13.1579 19.2322C13.1288 19.7158 13.1094 20.1995 13.09 20.6831C13.0803 20.8185 13.0125 20.9346 12.8865 20.9926C12.8381 21.012 12.7896 21.0217 12.7412 21.0217C12.654 21.0217 12.5764 20.9926 12.4989 20.9346C12.3826 20.8379 12.276 20.7412 12.1598 20.6541L6.53932 15.4114C6.49087 14.9665 6.50056 14.5312 6.5587 14.0959C6.60716 13.738 6.72344 13.2931 7.19827 13.0609C7.48898 12.9158 7.80877 12.8288 8.12855 12.7417C8.22545 12.7127 8.33205 12.6837 8.42895 12.6547C8.83595 12.5289 9.26233 12.4032 9.68871 12.2871C9.7953 12.2581 9.9019 12.2291 10.0182 12.1904C10.3283 12.1033 10.6384 12.0066 10.9581 11.9776C11.3845 11.9389 11.7237 12.142 12.0241 12.3258L12.0629 12.3742ZM12.3633 19.3096C12.3633 19.0484 12.3729 18.7872 12.3729 18.5358C12.3729 18.5164 12.3729 18.4971 12.3826 18.4777C12.3826 18.468 12.3923 18.4487 12.3923 18.4294C12.3923 18.4197 12.402 18.41 12.402 18.4003C12.402 18.3907 12.4117 18.3713 12.4214 18.3616C12.4505 18.3133 12.4795 18.2649 12.528 18.2262C12.5474 18.2166 12.5668 18.1972 12.5861 18.1875C13.0125 17.9844 13.4389 17.7813 13.875 17.5781C13.7296 17.4427 13.5842 17.2976 13.4389 17.1525C13.3032 17.0171 13.1676 16.8817 13.0319 16.7366C13.0125 16.7173 12.9931 16.6882 12.9641 16.6689C12.8768 16.5818 12.7412 16.4658 12.7412 16.4658L12.683 16.4174L11.5783 15.3824C11.5783 15.3727 11.5783 15.3727 11.5783 15.3631V15.3534C11.5686 15.2954 11.5686 15.2277 11.559 15.1696C11.5493 15.1116 11.5493 15.0535 11.5493 14.9955C11.5493 14.9858 11.5493 14.9665 11.5493 14.9471C11.5493 14.8891 11.5493 14.8214 11.5493 14.7634C11.5493 14.5119 11.5686 14.27 11.5977 14.0186C11.6365 13.7477 11.7043 13.4575 11.9078 13.2254C11.8497 13.1964 11.7915 13.1577 11.7334 13.119C11.6655 13.0803 11.5977 13.0319 11.5299 12.9932C11.3942 12.9062 11.2586 12.8191 11.1326 12.7708C10.9872 12.7224 10.7934 12.7708 10.619 12.8288C10.5802 12.8385 10.5318 12.8481 10.493 12.8675C10.2604 12.9255 10.0376 12.9836 9.81468 13.0513C9.32047 13.1867 8.83595 13.3318 8.3805 13.4865L8.29329 13.5156C8.09948 13.5736 7.90567 13.6413 7.72155 13.709C7.69248 13.7187 7.6731 13.7284 7.65372 13.738C7.63434 13.7477 7.61496 13.7574 7.59558 13.7671C7.5762 13.7767 7.55682 13.7864 7.54713 13.7961C7.52775 13.8057 7.51805 13.8154 7.50836 13.8251C7.48898 13.8444 7.4696 13.8541 7.45022 13.8735C7.43084 13.9025 7.41146 13.9218 7.40177 13.9605C7.25641 14.2604 7.24672 14.5989 7.29518 14.9181C7.32425 15.1309 7.43084 15.2567 7.55682 15.3824C7.55682 15.3824 7.55682 15.3921 7.56651 15.3921C7.63434 15.4791 7.72155 15.5565 7.80877 15.6436C7.85722 15.6823 7.89598 15.7306 7.93474 15.7693C8.47741 16.3207 9.02007 16.8624 9.56273 17.375C10.4639 18.2359 11.4136 19.0968 12.3826 19.9286C12.3633 19.7255 12.3633 19.5127 12.3633 19.3096Z"
                      fill="black"
              />
              <path
                      d="M12.3732 18.5358C12.3732 18.797 12.3635 19.0485 12.3635 19.3097C12.3635 19.5128 12.3538 19.7256 12.3538 19.9287C11.375 19.0969 10.4351 18.236 9.53387 17.3751C9.00089 16.8624 8.44854 16.3208 7.90588 15.7694C7.86712 15.7307 7.81866 15.6823 7.7799 15.6437C7.69269 15.5566 7.60547 15.4792 7.53764 15.3922C7.53764 15.3922 7.53764 15.3825 7.52795 15.3825C7.40198 15.2567 7.30507 15.1213 7.26631 14.9182C7.21786 14.5893 7.21786 14.2508 7.3729 13.9606C7.3826 13.9316 7.40198 13.9026 7.42136 13.8735C7.44074 13.8542 7.45043 13.8348 7.4795 13.8252C7.48919 13.8155 7.50857 13.8058 7.51826 13.7962C7.53764 13.7865 7.54733 13.7768 7.56671 13.7671C7.58609 13.7575 7.60548 13.7478 7.62486 13.7381C7.64424 13.7284 7.67331 13.7188 7.69269 13.7091C7.87681 13.6414 8.0803 13.5737 8.26442 13.5156L8.35164 13.4866C8.81678 13.3415 9.3013 13.1964 9.78582 13.0513C10.0087 12.9933 10.2316 12.9256 10.4641 12.8676C10.5029 12.8579 10.5417 12.8482 10.5901 12.8289C10.7936 12.7902 10.9874 12.7321 11.1328 12.7902C11.2684 12.8385 11.4041 12.9256 11.5301 13.0127C11.5979 13.061 11.6658 13.0997 11.7336 13.1384C11.7917 13.1771 11.8499 13.2061 11.908 13.2448C11.7045 13.4769 11.627 13.7671 11.5979 14.038C11.5592 14.2798 11.5495 14.5313 11.5495 14.7828C11.5495 14.8408 11.5495 14.9085 11.5495 14.9666C11.5495 14.9859 11.5495 14.9956 11.5495 15.0149C11.5495 15.073 11.5592 15.131 11.5592 15.189C11.5689 15.2471 11.5689 15.3148 11.5785 15.3728V15.3825C11.5785 15.3922 11.5785 15.3922 11.5785 15.4018L12.6832 16.4368L12.7414 16.4852C12.7414 16.4852 12.8674 16.6013 12.9643 16.6883C12.9837 16.7077 13.003 16.7367 13.0321 16.756C13.1678 16.9011 13.3034 17.0365 13.4391 17.172C13.5845 17.3171 13.7298 17.4621 13.8752 17.5976C13.4488 17.8007 13.0127 18.0038 12.5863 18.207C12.567 18.2166 12.5476 18.2263 12.5282 18.2456C12.4798 18.2843 12.4507 18.323 12.4216 18.3811C12.4119 18.3907 12.4119 18.4004 12.4022 18.4198C12.3925 18.4294 12.3925 18.4391 12.3925 18.4488C12.3828 18.4681 12.3828 18.4778 12.3828 18.4971C12.3828 18.4875 12.3732 18.5068 12.3732 18.5358Z"
                      fill="#00AB2E"
              />
              <path
                      d="M21.1068 18.7445C21.1068 18.8896 21.0971 19.0347 21.0971 19.1894C21.0971 19.3345 21.0971 19.4796 21.0874 19.6247C21.0874 19.7892 21.0874 19.9536 21.0777 20.118V20.1471C20.3897 19.557 19.7113 18.9573 19.0718 18.3576C19.0136 18.2996 18.9458 18.2415 18.8876 18.1835C18.7714 18.0771 18.6551 17.9707 18.5291 17.8546C18.5 17.8256 18.471 17.7966 18.4419 17.7772C18.3837 17.7192 18.3159 17.6611 18.2578 17.6031C17.8798 17.2355 17.4922 16.8583 17.1143 16.4811L16.6395 16.0071C16.591 15.9587 16.5523 15.9104 16.5038 15.8717C16.4747 15.8427 16.4457 15.8136 16.4166 15.7846C16.3875 15.7556 16.3585 15.7363 16.3391 15.7072C16.3197 15.6879 16.3003 15.6589 16.2809 15.6395C16.2615 15.6202 16.2422 15.6008 16.2325 15.5815C16.1259 15.4751 16.058 15.3493 16.029 15.1656C15.9805 14.8464 15.9805 14.5078 16.1259 14.2176C16.1259 14.2079 16.1259 14.1983 16.1259 14.1983C16.155 14.1209 16.2034 14.0822 16.2809 14.0338C16.3294 14.0048 16.3875 13.9855 16.4554 13.9565C16.6395 13.8887 16.843 13.821 17.0368 13.763L17.1531 13.7243C17.1628 13.7243 17.1821 13.7146 17.1821 13.7146C17.3953 13.6469 17.6182 13.5792 17.8314 13.5115C18.0737 13.4341 18.3159 13.3664 18.5679 13.2987C18.7907 13.2407 19.0233 13.173 19.2462 13.1149C19.285 13.1052 19.3237 13.0956 19.3722 13.0762C19.5563 13.0279 19.7404 12.9698 19.8858 13.0182C19.9148 13.0279 19.9536 13.0472 19.9827 13.0569C20.0796 13.1052 20.1862 13.173 20.2831 13.2407C20.3509 13.289 20.4187 13.3277 20.4866 13.3664C20.5447 13.4051 20.6028 13.4341 20.661 13.4728C20.8063 13.5599 20.9517 13.6469 21.0971 13.7243C21.2133 13.792 21.3296 13.8597 21.4362 13.9178C21.4459 13.9178 21.4459 13.9274 21.4556 13.9274C21.8045 14.1209 22.1242 14.295 22.4246 14.4594C23.0836 14.8077 23.7522 15.1462 24.4015 15.4557C24.5565 15.5331 24.7116 15.6008 24.8569 15.6782L24.8085 15.862C24.7794 15.9877 24.7503 16.1135 24.7213 16.2392C24.6825 16.3843 24.6437 16.5391 24.6147 16.6842C24.5662 16.8583 24.5275 16.9163 24.3821 16.984C24.2561 17.0421 24.1302 17.1001 24.0042 17.1582C23.9364 17.1872 23.8685 17.2162 23.8104 17.2452C23.6359 17.3226 23.4712 17.4 23.2968 17.487C23.0739 17.5934 22.8413 17.6998 22.6185 17.8062C22.1921 18.0094 21.7657 18.2125 21.3393 18.4156C21.1843 18.464 21.1068 18.6091 21.1068 18.7445Z"
                      fill="#ED1B23"
              />
            </svg>
          </figure>
        </template>
        <h2 class="c-help-chat__user-name">
          {{ !isAnswer ? user_name : "Studia.it" }}
        </h2>
      </div>
    </div>
    {{ description }}
  </li>
</template>

<script>
  import { mapGetters } from "vuex";
  export default {
    name: "BaseChatMessage",
    props: {
      description: {
        type: String,
      },
      type: {
        type: String
      },
    },
    computed: {
      isAnswer() {
        return this.type === 'answer';
      },
      ...mapGetters("user", ["user_photo", "user_name"])
    },
  }
</script>

<style lang="scss">
.c-help-chat {
  &__message {
    background-color: $white;
    padding: 16px;
    max-width: 327px;
    margin-bottom: 13px;
    &.question {
      margin-left: auto;
      border-radius: 10px 10px 0px 10px;
      .c-help-chat {
        &__img {
          border-radius: 50%;
          overflow: hidden;
          width: 32px;
          height: 32px;
          border: 1px solid $red;
        }
      }
    }
    &.answer {
      border-radius: 10px 10px 10px 0px;
    }
  }
  &__user {
    &-img {
      @extend %df;
      @extend %aic;
      margin-bottom: 10px;
    }
    &-name {
      @extend %btn-text;
      color: $gray;
      margin-left: 10px;
    }
  }
}
</style>