<template lang="pug">
  nav.navigation(v-if="user_role" :class="{show: isHidden}")
    template(v-if='isHidden')
      .mobile-nav__burger
        button.mobile-nav__btn.active(@click='hideNavigation')
          span
          span
          span
    .nav
      // Navigation Logotype and Social links
      .nav__logo-soc
        a(href="https://studiait.it/")
          img(src="@/assets/logo.svg", alt="Logotype")
        ul.nav__social
          li.nav__social-item
            a(href="#").nav__social-link
              BaseIcon(name="play-ico" width="13" height="13")
          li.nav__social-item
            a(href="#").nav__social-link
              BaseIcon(name="fb" width="8" height="15")
          li.nav__social-item
            a(href="#").nav__social-link
              BaseIcon(name="insta" width="15" height="15")
      // Navigation user
      <router-link :to="{ name: 'HomePage' }" @click="register" class="nav__user">
        .nav__user-notification(:class="{ active: notifications.length > 0 }")
          svg(width='14', height='18', viewBox='0 0 14 18', fill='none', xmlns='http://www.w3.org/2000/svg')
            path(d='M3.3999 8.15962V5.77308V4.6C3.3999 2.61177 5.01168 1 6.9999 1V1C8.98813 1 10.5999 2.61177 10.5999 4.6V5.77308V8.15962', stroke='#4B4B4B', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            path(d='M10.6 8.16016L12.7597 11.0236C12.9156 11.2304 13 11.4823 13 11.7413V11.7413C13 12.3996 12.4664 12.9332 11.8081 12.9332H2.19193C1.53364 12.9332 1 12.3996 1 11.7413V11.7413C1 11.4823 1.08436 11.2304 1.24032 11.0236L3.4 8.16016', stroke='#4B4B4B', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            path(d='M5.08139 15C5.03694 15 5.00024 15.0351 5.00024 15.0796C5.00024 16.1779 5.89567 17.0683 7.00024 17.0683C8.10481 17.0683 9.00024 16.1779 9.00024 15.0796C9.00024 15.0351 8.96355 15 8.9191 15H5.08139Z', fill='#4B4B4B')
        figure.nav__user-photo
          template(v-if="user_photo")
            img(:src="user_photo", :alt="user_name")
          template(v-else)
            img(src="img/ill/default-photo.svg" :alt="user_name")
        .nav__user-content
          h1.nav__user-name {{ user_name_for_ui[0] }} <br> {{ user_name_for_ui[1] }}
      </router-link>
      // Navigation menu
      ul.nav__menu
        li.nav__menu-item(v-for="itm of user_menu" @click="register" :key="itm.name" :class="'nav__menu-item_' + itm.name.toLowerCase().split(' ')[0]")
          <router-link class="nav__menu-link" :to="{ name: itm.route }">
            figure(class="nav__menu-icon" :class="'nav__menu-icon_' + itm.name.toLowerCase().split(' ')[0]")
              img(:src="itm.icon", :alt="itm.name")
            span.nav__menu-text {{itm.name}}
          </router-link>
        li.nav__menu-item
          button.nav__menu-link(@click="logout")
            svg(style="margin-right: 25px;" width='12', height='9', viewBox='0 0 12 9', fill='none', xmlns='http://www.w3.org/2000/svg')
              path(d='M11 4.5L1 4.5M1 4.5L4.5 1M1 4.5L4.5 8', stroke='#251C1C', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            span.nav__menu-text Выход
      template(v-if="user_role == 'default' || user_role == 'student'")
        // Navigation offer
        .nav__offer(@click="register")
          <router-link :to="{name: 'SpecialOfferPage'}" class="nav__offer-img">
            img(src="img/ill/offer.svg", alt="Offer illustration")
          </router-link>
</template>

<script>
import { mapGetters, mapMutations } from "vuex";
export default {
  props: {
    isHidden: {
      type: Boolean
    }
  },
  data() {
    return {
      menu_student: [
        {
          icon: "img/ill/teachers.svg",
          name: "Преподаватели",
          route: "Teachers"
        },
        {
          icon: "img/ill/calendar.svg",
          name: "Мой календарь",
          route: "Calendar"
        },
        {
          icon: "img/ill/settings.svg",
          name: "Настройки",
          route: "SettingPage"
        },
        {
          icon: "img/ill/help.svg",
          name: "Поддержка",
          route: "Help"
        }
      ],
      menu_teacher: [
        {
          icon: "img/ill/tasks.svg",
          name: "Новые занятия",
          route: "NewTeacherLessons"
        },
        {
          icon: "img/ill/home-work.svg",
          name: "Домашние задания",
          route: "TeacherHomeWork"
        },
        {
          icon: "img/ill/students.svg",
          name: "Ученики",
          route: "StudentsPage"
        },
        {
          icon: "img/ill/teacher-calendar.svg",
          name: "Календарь занятий",
          route: "TeacherTimeLine"
        }
      ]
    };
  },
  computed: {
    user_menu() {
      return this.user_role == "default" || this.user_role == "student"
        ? this.menu_student
        : this.menu_teacher;
    },
    user_name_for_ui() {
      if (this.user_name) return this.user_name.split(" ");
      return "Неизвестный Кот".split(" ");
    },
    ...mapGetters("user", ["user_name", "user_photo", "user_role", 'notifications'])
    // ...mapState({
    //   user: state => state.user.user
    // })
  },
  methods: {
    ...mapMutations(["SHOW_MODAL"]),
    logout() {
      this.$store.dispatch('auth/logout')
      this.$router.push({ name: 'Login' })
    },
    hideNavigation() {
      this.$emit("showNav", !this.isHidden);
    },
    register() {
      // if (this.user_role == "default") {
      //   if (this.isHidden) {
      //     this.hideNavigation();
      //   }
      //   this.SHOW_MODAL("register");
      // } else
      if (this.isHidden) {
        this.hideNavigation();
      }
    }
  }
};
</script>

<style lang="scss">
.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 398px;
  height: 100vh;
  background-color: $white;
  border-right: 1px solid $black;
  padding-left: 120px;
  padding-top: 17px;
  z-index: 99;
}
.nav {
  &__logo-soc {
    @extend %df;
    @extend %jcsb;
    align-items: flex-end;
    padding-right: 27px;
  }
  &__social {
    @extend %df;
    @extend %aic;
    @extend %jcsb;
    margin-bottom: 4px;
    &-item {
      @extend %df;
      @extend %aic;
      @extend %jcc;
      width: 27px;
      height: 27px;
      border: 1px solid $gray;
      border-radius: 2px;
      margin-right: 11px;
      &:last-child {
        margin-right: 0;
      }
    }
    &-link {
      @extend %df;
      @extend %aic;
      @extend %jcc;
    }
  }
  &__user {
    position: relative;
    @extend %df;
    @extend %aic;
    width: 250px;
    height: 95px;
    background-color: $dark_white;
    border-radius: 2px;
    margin: 76px 0 80px 0;
    padding: 0 0 0 17px;
    &-notification {
      position: absolute;
      top: 15px;
      right: 13px;
      .icon {
        width: 15px;
        height: 23px;
        fill: transparent;
        stroke: currentColor;
        stroke-width: 2px;
        stroke-linecap: round;
        stroke-linejoin: round;
      }
      &.active {
        svg {
          path {
            stroke: $green;
            &:last-child {
              fill: $green;
            }
          }
        }
      }
    }
    &-photo {
      width: 59px;
      height: 59px;
      overflow: hidden;
      border-radius: 50%;
      border: 1px solid $red;
    }
    &-content {
      margin-left: 14px;
    }
    &-name {
      @extend %text-big;
      color: $gray;
    }
  }
  &__menu {
    &-item {
      margin-bottom: 27px;
      &:last-child {
        margin-bottom: 0;
      }
      &_поддержка {
        margin-top: 189px;
      }
    }
    &-icon {
      &_преподаватели {
        width: 25px;
        height: 32px;
        margin-right: 13px;
      }
      &_мой {
        width: 23px;
        height: 19px;
        margin-right: 16px;
      }
      &_настройки {
        width: 22px;
        height: 14px;
        margin-right: 17px;
      }
      &_поддержка {
        width: 27px;
        height: 18px;
        margin-right: 14px;
      }
      &_новые {
        margin-right: rem(25);
      }
      &_домашние {
        margin-right: rem(21);
      }
      &_ученики {
        margin-right: rem(16);
      }
      &_календарь {
        margin-right: rem(15);
      }
    }
    &-link {
      @extend %df;
      @extend %aic;
      &:hover {
        span {
          color: $green;
        }
      }
    }
    &-text {
      @extend %h3-title-bold;
      color: $gray;
      transition: all 0.3s ease;
    }
  }
  &__offer {
    display: block;
    max-width: 290px;
    position: absolute;
    bottom: 110px;
    left: 0;
  }
}
@include bp(1360px) {
  .navigation {
    padding-left: 60px;
    width: 338px;
  }
  .nav {
    &__offer {
      max-width: 200px;
      bottom: 117px;
    }
    &__menu {
      &-item {
        position: relative;
        z-index: 5;
        &_поддержка {
          margin-top: 150px;
        }
      }
    }
  }
}
@include bp(1100px) {
  .navigation {
    z-index: 9999;
  }
  .mobile-navbar {
    width: 390px;
    padding-left: 78px;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    &.show {
      transform: translateX(0);
    }
  }
  .nav {
    &__logo-soc {
      display: none;
    }
    &__user {
      margin-top: 36px;
    }
    &__offer {
      bottom: 332px;
      width: 248px;
    }
  }
}
@media screen and (max-width: 1300px) and (min-width: 1100px) and (min-height: 600px) {
  .nav {
    &__user {
      margin-bottom: 15px;
    }
    &__menu-item_поддержка {
      margin-top: 100px;
    }
  }
}
@include bp(766px) {
  .navigation {
    width: 100%;
  }
  .mobile-navbar {
    padding-left: 45px;
  }
  .nav {
    &__user {
      margin-bottom: 30px;
    }
    /*<!--&__offer {-->*/
    /*<!--  transform: translateY(-50%);-->*/
    /*<!--  bottom: 102px;-->*/
    /*<!--}-->*/
    &__offer {
      display: none;
    }
    &__menu {
      &-item {
        &_поддержка {
          margin-top: 70px;
        }
      }
    }
  }
}
@include bp(360px) {
  .mobile-navbar {
    padding-left: 25px;
  }
  .nav {
    &__offer {
      left: -43px;
    }
  }
}
@media screen and (max-width: 450px) and (min-height: 700px) {
  .nav {
    &__offer {
      bottom: 261px;
    }
  }
}
@media screen and (max-width: 450px) and (min-height: 600px) {
  .nav {
    &__offer {
      bottom: 111px;
    }
  }
}
@media screen and (max-width: 450px) and (max-height: 600px) {
  .nav {
    &__offer {
      bottom: 5px;
    }
  }
}
</style>
