<template>
  <div class="c-simple-student-card">
    <div class="c-simple-student-card__user-data">
      <div class="c-simple-student-card__main-data" @click="showUser(userId)">
        <figure class="c-simple-student-card__img">
          <template v-if="photo">
            <img :src="photo" :alt="name" />
          </template>
          <template v-else>
            <img src="img/ill/default-photo.svg" :alt="name" />
          </template>
        </figure>
        <div class="c-simple-student-card__name">
          {{ name }} {{ surname }}
        </div>
      </div>
      <div class="c-simple-student-card__level">
        Уровень: <span>{{ student_level }}</span>
      </div>
      <div class="c-simple-student-card__next-lesson">
        Следующее занятие {{ display_date }}
      </div>
    </div>
    <template v-if="link_to_homework && is_homework_done">
      <button class="c-simple-student-card__btn c-simple-student-card__btn_red">
        <span>
          Проверить ДЗ
        </span>
      </button>
    </template>
    <template v-else>
      <button @click="showModal" class="c-simple-student-card__btn c-simple-student-card__btn_green">
        <span>
          Перейти к занятию
        </span>
      </button>
    </template>
  </div>
</template>

<script>
import { student_card_functions } from '@/mixins/mixins.js'
export default {
  name: "SimpleStudentCard",
  mixins: [student_card_functions],
  props: {
    userId: {
      type: Number
    },
    photo: {
      type: String
    },
    name: {
      type: String
    },
    surname: {
      type: String
    },
    student_level: {
      type: String
    },
    lessonDate: {
      type: String
    },
    lessonTime: {
      type: String
    },
    lessonTimeTo: {
      type: String
    },
    lessonId: {
      type: Number
    },
    isPassed: {
      type: Boolean,
      default: undefined
    },
    isHomeWork: {
      type: Boolean
    },
    homeWorkLink: {
      type: String
    },
    checkHomeWork: {
      type: Boolean,
      default: undefined
    },
    lesson_type: {
      type: String
    },
    lesson_comment: {
      type: String
    },
    link_to_lesson: {
      type: String,
    },
    link_to_homework: {
      type: String,
    },
    is_homework_done: {
      type: Boolean,
    }
  },
};
</script>

<style lang="scss">
.c-simple-student-card {
  background-color: $dark_white;
  max-width: 277px;
  height: 300px;
  overflow: hidden;
  &:hover {
    .c-simple-student-card {
      &__btn {
        margin-top: 25px;
      }
    }
  }
  &__main-data {
    cursor: pointer;
    &:hover {
      .c-simple-student-card {
        &__img {
          border-color: $green;
        }
        &__name {
          color: $green;
        }
      }
    }
  }
  &__user-data {
    padding-top: 28px;
  }
  &__img {
    width: 87px;
    height: 87px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    border: 2px solid transparent;
    transition: all 0.5s ease;
  }
  &__name {
    @extend %text-big;
    color: $black;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 3px;
    transition: all 0.5s ease;
  }
  &__level {
    @extend %text-middle;
    color: $gray;
    text-align: center;
    margin-bottom: 17px;
    span {
      color: $black;
    }
  }
  &__next-lesson {
    @extend %btn-text;
    color: $red;
    text-align: center;
  }
  &__btn {
    width: 189px;
    height: 35px;
    margin: 150px auto 0;
    &_red {
      @extend %simple-btn-red-fill;
    }
    &_green {
      @extend %simple-btn-green;
    }
  }
}
@include bp(766px) {
  .c-simple-student-card {
    width: 100%;
    margin: 0 auto;
    &__btn {
      margin-top: 25px;
    }
  }
}
</style>
