<template>
  <div
    :style="componentStyle"
    :class="`${classNameForSmall} c-teacher-calendar__timeline_empty`"
    @mouseover="mouserOverEvent(minutesFrom, minutesTo)"
  >
    <vue-slider
      :tooltip="'none'"
      :process-style="{ background: '#EF4036' }"
      :step-active-style="{ background: 'transparent' }"
      :stepStyle="{ background: 'transparent' }"
      :rail-style="{ background: '#FBFBFB', height: mobile_style }"
      :dot-style="styles"
      @change="change_value"
      :disabled="!is_edit"
      :dotSize="is_mobile"
      v-model="value"
      :data="items"
      :marks="true"
    />
  </div>
</template>

<script>
import "vue-slider-component/theme/default.css";
import VueSlider from "vue-slider-component";

export default {
  name: "SliderTeacher",
  components: {
    VueSlider
  },
  props: {
    hour: {
      type: Number,
      required: true
    },
    minutesFrom: {
      type: Number,
      required: true
    },
    minutesTo: {
      type: Number,
      required: true
    },
    is_edit: {
      type: Boolean,
    },
    date: {
      type: String
    }
  },
  computed: {
    is_mobile() {
      return window.innerWidth > 1100 ? 10 : 15
    },
    mobile_style() {
      return window.innerWidth > 1100 ? '10px' : '15px'
    },
    styles() {
      return {
        'box-shadow': 'none',
        'background-color': !this.is_edit ? 'transparent' : '#ccc'
      }
    },
    items() {
      const minutes = [];
      const hour = this.hour < 10 ? `0${this.hour}` : this.hour;

      for (let j = this.minutesFrom; j <= this.minutesTo; j += 5) {
        if (j === 60) {
          continue;
        }
        const minute = j < 10 ? `0${j}` : j;

        minutes.push(`${hour}:${minute}`);
      }

      return minutes;
    },
    componentStyle() {
      const grid = `${this.minutesFrom === 0 ? 1 : this.minutesFrom} / ${
        this.minutesTo
      }`;
      return `grid-column: ${grid}`;
    },
    classNameForSmall() {
      return this.minutesTo < 60 ? `c-teacher-calendar__timeline_small` : "";
    }
  },
  data() {
    return {
      value: null
    };
  },
  methods: {
    mouserOverEvent() {
      this.$emit("hover", null);
    },
    change_value() {
      const { date, hour, value, minutesFrom } = this;
      // console.log()
      this.$emit("change_value", {
        calendar_day: date,
        full_from: `${date} ${hour > 10 ? hour : `0${hour}`}:${minutesFrom > 10 ? minutesFrom : `0${minutesFrom}`}:00`,
        full_to: `${date} ${value}:00`,
      })
    }
  }
};
</script>
