<template>
  <div :style="componentStyle"
       :class="`${classNameForSmall} c-teacher-calendar__timeline_empty`"
       @mouseover="mouserOverEvent(minutesFrom, minutesTo)"
  >
    <vue-slider
            :tooltip="'none'"
            :process-style="{ background: '#EF4036' }"
            :step-active-style="{ background: 'transparent' }"
            :stepStyle="{ background: 'transparent' }"
            :dot-style="{ display: 'none' }"
            :rail-style="{ background: '#EF4036' }"
            :data="items"
            :marks="true"
            v-model="value"
    />
  </div>
</template>

<script>
  import "vue-slider-component/theme/default.css";
  import VueSlider from "vue-slider-component";

  export default {
    name: "TimeOffSliderTeacher",
    components: {
      VueSlider
    },
    props: {
      hour: {
        type: Number,
        required: true
      },
      minutesFrom: {
        type: Number,
        required: true
      },
      minutesTo: {
        type: Number,
        required: true
      },
      is_edit: {
        type: Boolean,
      },
      date: {
        type: String
      }
    },
    computed: {
      items() {
        const minutes = [];
        const hour = this.hour < 10 ? `0${this.hour}` : this.hour;

        for (let j = this.minutesFrom; j <= this.minutesTo; j += 5) {
          if (j === 60) {
            continue;
          }
          const minute = j < 10 ? `0${j}` : j;

          minutes.push(`${hour}:${minute}`);
        }

        return minutes;
      },
      timeEnd() {
        return this.items.slice(-1)[0];
      },
      componentStyle() {
        const grid = `${this.minutesFrom === 0 ? 1 : this.minutesFrom} / ${
          this.minutesTo
        }`;
        return `grid-column: ${grid}`;
      },
      classNameForSmall() {
        return this.minutesTo < 60 ? `c-teacher-calendar__timeline_small` : "";
      }
    },
    data() {
      return {
        value: ''
      };
    },
    methods: {
      mouserOverEvent() {
        this.$emit("hover", null);
      },
    }
  };
</script>
