<template>
  <component :is="layout" :class="{ 'overflow-hidden': activeModal }">
    <router-view/>
    <transition-group name="transform">
      <RegisterModal v-if="activeModal === 'register'" :key="'register'"/>
      <LoginModal v-if="activeModal === 'login'" :key="'login'"/>
      <CheckEmail v-if="activeModal === 'check'" :key="'check'"/>
      <FaqModal v-if="activeModal === 'faq'" :key="'faq'"/>
      <Video v-if="activeModal === 'video'" :key="'video'"/>
      <MyLessons v-if="activeModal === 'lessons-modal' && modalData"
                 :key="'lessons-modal'"
                 :date="modalData.date"/>
      <Homework v-if="activeModal === 'homework'" :key="'homework'"/>
      <SpecialLessonModal v-if="activeModal === 'special-lesson'" :key="'special-lesson'"/>
      <ReservationLessonModal v-if="activeModal === 'reservation-lesson' && modalData"
                              :curator="modalData.curator"
                              :reserved_times="modalData.reserved"
                              :day="modalData.day"
                              :key="'reservation-lesson'"/>
      <NewTeacherLessonModal v-if="activeModal === 'new-teacher-lesson'"
                             :key="'new-teacher-lesson'"
                             :lesson_id="modalData.lesson_id"
                             :student_id="modalData.student_id"
                             :student_photo="modalData.student_photo"
                             :student_first_name="modalData.student_first_name"
                             :student_last_name="modalData.student_last_name"
                             :lesson_date="modalData.lesson_date"
                             :lesson_time_from="modalData.lesson_time_from"
                             :lesson_time_to="modalData.lesson_time_to"
                             :lesson_type="modalData.lesson_type"
                             :lesson_comment="modalData.lesson_comment"
                             :link_to_lesson="modalData.link_to_lesson"
                             :link_to_homework="modalData.link_to_homework" />
      <StudentProfile v-if="activeModal === 'student-modal'"
                      :user="modalData.user"
                      :lessons="modalData.lessons"
                      :key="'student-modal'"/>
      <HelpChatModal v-if="activeModal === 'chat-modal' && modalData"
                     :messages="modalData.messages"
                     :first_message="modalData.first_message"
                     :title="modalData.title"
                     :ticketId="modalData.id"
                     :key="'chat-modal'"/>
    </transition-group>
    <LoadingPreloader :isVisible="loading"/>
  </component>
</template>

<script>
import { mapState, mapMutations } from "vuex";
import RegisterModal from "@/components/Modals/RegisterModal.vue";
import LoginModal from "@/components/Modals/LoginModal";
import CheckEmail from "@/components/Modals/CheckEmailModal";
import DefaultLayout from "@/components/Layout/DefaultLayout";
import EmptyLayout from "@/components/Layout/EmptyLayout";
import MobileLayout from "@/components/Layout/MobileLayout";
import FaqModal from "@/components/Modals/FaqModal";
import SpecialLessonModal from "@/components/Modals/SpecialLessonModal";
import MyMessage from "@/views/MyMessage";
import Video from "@/components/Modals/Video";
import MyLessons from "@/components/Modals/MyLessons";
import Homework from "@/components/Modals/Homework";
import ReservationLessonModal from "@/components/Modals/ReservationLessonModal";
import NewTeacherLessonModal from "@/components/Modals/NewTeacherLessonModal";
import StudentProfile from "@/components/Modals/StudentProfile";
import LoadingPreloader from "./components/LoadingPreloader";
import HelpChatModal from "./components/Modals/HelpChatModal";
export default {
  components: {
    HelpChatModal,
    LoadingPreloader,
    Homework,
    MyLessons,
    FaqModal,
    CheckEmail,
    LoginModal,
    RegisterModal,
    DefaultLayout,
    EmptyLayout,
    MobileLayout,
    SpecialLessonModal,
    MyMessage,
    Video,
    ReservationLessonModal,
    NewTeacherLessonModal,
    StudentProfile
  },
  computed: {
    ...mapState(["activeModal", "loading", "auth", "modalData"]),
    layout() {
      const { meta } = this.$route;
      const layout = this.checkAdapt() ? "Mobile" : meta.layout || "Default";

      return `${layout}Layout`;
    }
  },
  data() {
    return {
      select_val: "default"
    };
  },
  methods: {
    ...mapMutations(["CHANGE_ROLE"]),
    checkAdapt() {
      return window.innerWidth < 1100;
    }
    // changeRole() {
    //   this.CHANGE_ROLE(this.select_val);
    // }
  },
  // beforeCreate() {
  //   this.$store.dispatch("set_loading", true);
  // },
  created() {
    // const { token } = this.auth.auth;
    // if (token) {
    //   this.$store
    //     .dispatch("user/set_user_data")
    //     .then(() => {
    //       this.$store.dispatch("set_loading", false);
    //     })
    //     .catch(() => {
    //       localStorage.removeItem("user-token");
    //       this.$store.dispatch("set_loading", false);
    //     });
    // }
    // this.$store.dispatch("set_loading", false);
  }
};
</script>

<style lang="scss">
.overflow-hidden {
  overflow: hidden;
  height: 100vh;
}
.app {
  padding-left: 398px;
}

#change-role {
  position: fixed;
  top: 10px;
  right: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba($color: $black, $alpha: 0.2);
  z-index: 100;
  opacity: 0;
  transition: all 0.5s ease;
  @extend %evt-none;

  &.show {
    opacity: 1;
    @extend %evt-all;
    cursor: pointer;
  }
}
@include bp(1360px) {
  .app {
    padding-left: 338px;
  }
}
@include bp(1100px) {
  %container {
    max-width: 750px;
    margin: 0 auto;
  }
}
</style>
