%df {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
}

%jcc {
    justify-content: center;
}

%jcsb {
    justify-content: space-between;
}

%jcse {
    justify-content: space-evenly;
}

%jcsa {
    justify-content: space-around;
}

%jcfs {
  justify-content: flex-start;
}

%jcfe {
    justify-content: flex-end;
}

%aic {
    -ms-align-items: center;
    align-items: center;
}

%aifs {
    -ms-align-items: flex-start;
    align-items: flex-start;
}

%aife {
    -ms-align-items: flex-end;
    align-items: flex-end;
}

%pagept {
    padding-top: rem(35);
    padding-left: rem(30);
    max-width: rem(922);
}

%m0a {
  margin: 0 auto;
}

%fw {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    -o-flex-wrap: wrap;
    flex-wrap: wrap;
}

%fdc {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-flex-direction: column;
    flex-direction: column;
}
%ease {
    -webkit-transition: all .5s ease;
    -moz-transition: all .5s ease;
    -o-transition: all .5s ease;
    transition: all .5s ease;
}
%bg-reset {
    background-color: transparent;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
%evt-none {
    pointer-events: none;
}
%evt-all {
    pointer-events: all;
}
%db {
    display: block;
}
%dib {
    display: inline-block;
}
%input-reset {
    background-color: transparent;
    border: none;
    color: $white;
    padding: 0;
}

%h100 {
    height: 100%;
}

%empt-btn {
    border: none;
    outline: none;
}

%absolute-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
%reset-scroll-bar {
    &::-webkit-scrollbar-button {
        // background-image:url('');
        background-repeat:no-repeat;
        width:5px;
        height:0px
    }
    &::-webkit-scrollbar-track {
        background-color:transparent;
    }
    &::-webkit-scrollbar-thumb {
        -webkit-border-radius: 0px;
        border-radius: 0px;
        background-color: $soft_gray;
        
    }
    &::-webkit-scrollbar-thumb:hover{
        background-color: $dark_white;
    }
    &::-webkit-resizer{
        // background-image:url('');
        background-repeat:no-repeat;
        width:4px;
        height:0px
    }
    &::-webkit-scrollbar{
        width: 4px;
    }
}