//---------------------------------------------fonts
$font_path: "~@/assets/fonts/";
$font_base: sans-serif;
$font_size_base: 16px;
//---------------------------------------------fonts###

//---------------------------------------------Imagws path
$img_dir: '~@/assets/img/';
//---------------------------------------------Imagws path###

//---------------------------------------------colors
$dark_white: #FBFBFB;
$white: #fff;
$black: #251C1C;
$green: #39B100;
$red: #EF4036;
$gray: #4B4B4B;
$soft_gray: #D8D8D8;
$blue: #0062BC;
$light-grey: #9E9E9E;
$light-green: #F1FFEA;



$body_bg: $white;
$scroll_bar_color: $white;
$scroll_thumb_color: $black;
//---------------------------------------------colors###
